/* ------------------------------------*/
/*    Abbildungen und Bilduntertitel   */
/* ------------------------------------*/

/* Abbildungs-Block */
#main div.abbildung {
  background:           #DADADA;
  border:               10px solid #DADADA;
  border-bottom:        3px solid #DADADA;
  margin-bottom:        1.6em;
}

/* Beschreibungstexte */
#page-notiz #main div.abbildung p {
  font-size:            0.8em;
  line-height:          2.0;
  margin:               0;
  padding:              0;
}

/* Abbildung volle Breite: 825px, Höhe muss Vielfaches von 24px - (2 * 10px) sein */
#main div.w {
  clear:                both;
  display:              block;
  width:                825px;
}

/* Abbildung in der Content-Spalte: 605px */
#main div.m {
  clear:                both;
  display:              block;
  width:                605px;
}

/* Kleine Abbildung in der Seitenleiste: 165px */
#main div.s {
  display:              block;
  float:                right;
  width:                165px;
}

/* Kleine Abbildung links-fließend: 165px */
#main div.ms-1 {
  display:              block;
  float:                left;
  margin-right:         35px;
  width:                165px;
}

/* Kleine Abbildung links-fließend: 275px */
#main div.ms-2 {
  display:              block;
  float:                left;
  margin-right:         35px;
  width:                275px;
}

/* Kleine Abbildung links-fließend: 385px */
#main div.ms-3 {
  display:              block;
  float:                left;
  margin-right:         35px;
  width:                385px;
}


/* Kleine Abbildung in der Seitenleiste: variable Breite */
#main div.v {
  display:              block;
  float:                right;
}

/* Kleine Abbildung in der Seitenleiste, ohne Rahmen und Hintergrund */
#main div.o {
  background:           transparent;
  border:               0;
  display:              block;
  float:                right;
}

/* Alternative Breite für Abbildung in der Seitenleiste, in den Text geschoben: 275px, 385px o. 495px */
#main div.alt-1 {
  display:              block;
  float:                right;
  margin-left:          1.6em;
  width:                275px;
}

#main div.alt-2 {
  display:              block;
  float:                right;
  margin-left:          1.6em;
  width:                385px;
}

#main div.alt-3 {
  display:              block;
  float:                right;
  margin-left:          1.6em;
  width:                495px;
}

/* Test */

#main img.border {
    border:             1px solid #CBCBCB;
    background:         #DADADA;
    padding: 10px;
}

#main img.links {
    float:              left;
    margin:             0 15px 15px 0;
}

#main img.rechts {
    float:              right;
    margin:             0 0 15px 15px;
}