/* ----------------------*/
/*    Kommentarbereich   */
/* ----------------------*/

/* Kommentarbereich */

#main #comments {
  border-top:           1px solid #CCC;
  float:                left;
  list-style:           none;
  margin:               0 10px;
  padding:              1.6em 0;
  width:                845px;
}

#main #comments .comment {
  list-style:           none;
}

#main #comments .comment li {
  border-bottom:        1px solid #CCC;
  clear:                both;
  float:                left;
  padding-top:           1.6em;
}

#main #comments .comment li.odd {
  background:           #E6E6E0;
}

#main #comments ol.comment li.author {
  background:           #DFE2E4 url(images/comment_grid.png) repeat 0 0;
}

#main #comments h2 {
  margin-bottom:        0;
  margin-top:           0;
}

#main #comments dt,
#main #comments dd {
  margin:               0;
}

#main #comments .message {
  float:                left;
  font-size:            0.8em;
  line-height:          2.0;
  margin-left:          35px;
  width:                730px;
}

.cols-8 #comments .message p {
  margin:               0 0 2.0em 0;
}

#main #comments dl {
  color:                #999;
  float:                left;
  font-size:            0.6666em;
  line-height:          2.4;
  text-align:           right;
  width:                75px;
}

/* Kommentareingabe-Fomular */

#comment-form {
  float:                left;
  margin:               0 10px;
  padding:              1.6em 0;
  width:                845px;
}

#main label {
  display:              block;
}

#page-notiz #main p.checkbox {
  margin-top:           0.5em;
}

#main p.checkbox label {
  display: inline;
  color:                #999;
  font-size:            0.666em;
  line-height:          2.4;
  margin-bottom:        2.4em;
}

#main p.checkbox input {
  display:              inline;
  width:                auto;
}

#comment textarea {
  font-family:          "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  font-size:            1.0em;
  height:               12.8em;
  line-height:          1.6;
  width:                405px;
}

#comment-author input {
  font-size:            1.0em;
  line-height:          1.6;
  width:                185px;
}

fieldset#comment {
  border:               0;
  float:                left;
  width:                405px;
}

fieldset#comment-author {
  border:               0;
  float:                left;
  margin-left:          35px;
  width:                185px;
}

fieldset#comment-rules {
  border:               0;
  float:                left;
  margin-left:          20px;
  padding-top:          1.6em;
  width:                185px;
}

#page-notiz #main fieldset p {
  margin:               0;
}

#page-notiz #main #comment-rules p {
  color:                #999;
  font-size:            0.666em;
  line-height:          2.4;
  margin-bottom:        2.4em;
}

fieldset#comment-submit {
  border:               0;
  clear:                both;
}

/* Preview */

#main #comments ol.comment li#preview {
  background:           #E1B9A9 url(images/comment_grid.png) repeat 0 0;
}

/* Formatierung der Kommentare */

#main #comments .comment .message li {
  border:               0;
  float:                none;
  padding:              0;
}

#main #comments .comment .message p {
  margin:               0 0 1.95em 0;
}

#main #comments .comment .message ol {
  margin:               0 0 1.95em 0;
}

#main #comments .comment .message ul {
  margin:               0 0 1.95em 0;
}

#main #comments .comment .message pre {
  margin:               0 0 1.95em 0;
  padding:              0.95em;
  width:                auto;
}

#main #comments .comment .message blockquote p {
  line-height:          1.75;
  margin:               0 0 1.75em 0;
  padding:              0;
}
