/* ----------------------------------*/
/*    Titel- und Navigationsleiste   */
/* ----------------------------------*/

/* Leiste für Navigation und Titel */
#navbar {
  background:           #484848 url(images/bg_header.jpg) repeat-x 0 0;
  color:                #FFF;
  font-size:            0.8em;
  height:               3em;
  line-height:          3.0;
}

/* Titel */
#navbar .content h1 {
  color:                #FFF;
  font-size:            1.1667em;
  font-weight:          100;
  left:                 0;
  letter-spacing:       0;
  line-height:          2.6;
  margin-left:          10px;
}

/* Name */
#navbar h1 em {
  color:                #EC6015;
  font-style:           normal;
}

/* Tagline */
#navbar h1 span {
  color:                #F6DA21;
}

/* Navigationsliste (ul)*/
#nav {
  border-left:          1px solid #5C5C5C;
  border-right:         1px solid #3C3C3C;
  height:               3em;
  position:             absolute;
  right:                0;
  top:                  0;
}

/* Einzelne Navigationspunkte */
#nav li {
  border-left:          1px solid #3C3C3C;
  border-right:         1px solid #5C5C5C;
  display:              block;
  float:                left;
  line-height:          3em;
}

/* Aktiver Menüpunkt (Kein Link); TODO: Entscheiden, ob diese Variante oder die untere */
#nav li.aktiv {
  background:           #EC6015 url(images/bg_header_aktiv.jpg) repeat-x 0 0;
  padding:              0 10px;
}

/* Navigations-Links */
#nav a {
  color:                #FFF;
  display:              block;
  padding:              0 10px;
  text-decoration:      none;
}

/* Navigation: Mouse-Over, und aktiver Menüpunkt; TODO: Entscheiden, ob diese Variante oder die obere */
#navbar a:hover, 
#navbar a.aktiv {
  background:           #EC6015 url(images/bg_header_aktiv.jpg) repeat-x 0 0;
}

/* -----------------------------------*/
/*    Bildleiste und Bild (Irezumi)   */
/* -----------------------------------*/

/* Leiste unter dem Bild, Farbe und obere Schattenkante */
#imgbar {
  background:           #6E6E6E url(images/bg_shade_hd.jpg) repeat-x 0 0;
  height:               200px;
}

/* Bild (Irezumi) */
#imgbar #img {
  background:           url(images/irezumi.jpg) no-repeat center bottom;
  height:               200px;
}

/* ------------------------------------------------------*/
/*    Subheader mit Breadcrumb (optional) und Suchfeld   */
/* ------------------------------------------------------*/

/* Leiste für Breadcrumb und Suche */
#subbar {
  background:           #555 url(images/bg_sub-header.jpg) repeat-x 0 100%;
  border-top:           1px solid #585858;
  height:               2.2em;
}

/* Form-Element, dunkler Hintergrund */
#subbar form {
  background:           #3B3B3B url(images/bg_sub-header_drk.jpg) repeat-x 0 100%;
  height:               2.2em;
  line-height:          2.2em;
  margin:               0 auto;
  position:             relative;
  width:                865px;
}

/* Breadcrumb; TODO: Breadcrumb? Oder Status? Oder ganz weg? */
#subbar #breadcrumb {
  color:                #FFF;
  font-size:            0.8em;
  left:                 10px;
  line-height:          2.6;
  position:             absolute;
}

/* Links der Breadcrumb */
#subbar #breadcrumb a {
  color:                #EC6015;
  text-decoration:      none;
}

/* Hover-Links der Breadcrumb */
#subbar #breadcrumb a:hover {
  text-decoration:      underline;
}

/* Suchfeld (fieldset) */
#subbar fieldset {
  border:               0;
  position:             absolute;
  right:                0;
}

/* Position der Eingabefelder */
#subbar form input {
  bottom:               2px;
  position:             relative;
  right:                38px;
  width:                150px;
}

/* Position des Such-Buttons */
#subbar .search-button {
  bottom:               8px;
  position:             absolute;
  right:                10px;
  width:                20px;
}

#subbar label {
  display:              none;
}