/* ----------------------------------*/
/*    Internet Explorer 7 Bugfixes   */
/* ----------------------------------*/

/* Einrückung wegen fehlerhafter Überdeckung der Listenpunkte */
#main ul, #main ol {
  margin-left:          2em;
}

#flickr-photos {
  clear:                both;
  width:                500px;
}

/* Kein Einrückung bei Listen auf der Startseite */
.cols-5-3 #main ul, #main #lesezeichen-delicious ul {
  margin-left:          0;
}

.cols-6-2 #main .network {
  margin-left:          0;
}

/* Abstände unter den Projekten */
#main .projekt {
  clear:                both;
  min-height:           270px;
}

#main .projekt h2 {
  margin-top:           0;
}

/* Fussnoten */
#main #fussnoten {
  list-style-position:  inside;
  margin-left:          0;
}

/* Kommentare */
#main #comments {
  padding:              0;
}

#main #comments h2 {
  margin-top:           1.6em;
}

#main #comments ol {
  margin:               0;
}

#main #comments li {
  width:                845px;
}

#page-information #flickr-photos {
  width:                205px;
}