/* ------------------*/
/*    Meta-Bereich   */
/* ------------------*/

#meta {
  background:           #484848;
  border-top:           1px solid #969595;
  clear:                both;
  color:                #FFF;
  font-size:            0.8em;
  line-height:          2.0;
  padding:              24px 0;
}

#meta p {
  margin-left:          110px;
  margin-right:         230px;
}

#meta img {
  border:               1px solid #FFF;
  float:                left;
  margin:               5px 0 0 10px;
}

#meta div.feeds {
  float:                right;
  width:                195px;
}

#meta div.feeds p {
  margin:               0;
}

#meta a:link {
  border-bottom:        1px dotted #AAA;
  color:                #AAA;
  text-decoration:      none;
}

#meta a:visited {
  border-bottom:        1px dotted #AAA;
  color:                #AAA;
  text-decoration:      none;
}

#meta a:hover,
#meta a:focus,
#meta a:active {
  border-bottom:        1px solid #FFF;
  color:                #FFF;
}