/* ----------------*/
/*    Projekte   */
/* ----------------*/

#main .projekt {
  clear:                both;
  height:               12.8em;
}

#main .projekt img {
  background:           #DADADA;
  border:               10px solid #DADADA;
  float:                left;
  margin-bottom:        1.6em;
}

/* Überschrift des Projektes */
#main .projekt h3 {
  clear: none;
  font-size:            1.2em;
  line-height:          1.3333;
  margin:               0 0 0 660px;
}

/* Unterüberschrift, z.B. für Auszeichnungen */
#main .projekt h4 {
  clear: none;
  color:                #000;
  font-size:            0.9333em;
  font-weight:          bold;
  line-height:          1.7143;
  margin:               0 0 0 660px;
}

#main .projekt p {
  font-size:            0.8em;
  line-height:          2.0;
  margin:               0 0 2.0em 660px;
}