/* -----------------------------------*/
/*    Font    EM        Line-Height   */
/* -----------------------------------*/
/*    15px    1.0em     1.6 (24px)    */
/* -----------------------------------*/
/*    24px    1.6em     1.0           */
/*    20px    1.3333em  1.2           */
/*    18px    1.2em     1.333         */
/*    14px    0.9333em  1.7143        */
/*    12px    0.8em     2.0           */
/*    10px    0.6666em  2.4           */
/* -----------------------------------*/

@import "header.css";
@import "meta.css";
@import "sub.css";
@import "abbildungen.css";
@import "comments.css";
@import "startseite.css";
@import "notizbuch.css";
@import "projekte.css";
@import "information.css";

/* Universal Reset */
* {
  margin:               0;
  padding:              0;
}

/* Italics Bug */
* html * {
  overflow:             visible;
}

body {
  background:           #EAEAE4;
  /* background:           #EAEAE4 url(images/_grid.png) repeat-y 50% 0;       /* DEBUG: GRID */
  /* background:           #EAEAE4 url(images/_line-height.png) repeat 0 5px;  /* DEBUG: LINE-HEIGHT */
  color:                #333;
  font-family:          "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  font-size:            93.75%; /* 15px Grundschriftgröße */
  line-height:          1.6;    /* 24px Zeilenhöhe */
}

/* -------------*/
/*    Spalten   */
/* -------------*/

/* Spalten-Klasse zur zentrierten Ausrichtung */
.content {
  margin:               0 auto;
  position:             relative;
  width:                865px;
}

/* Content-Bereich */
#main {
  margin:               24px 0;
}

/* Primärer Content */

.cols-5-3 #content-1 {
  float:                left;
  margin-left:          10px;
  padding:              0;
  width:                515px;
}

.cols-8 #content-1 {
  float:                left;
  margin:               0 10px;
  width:                845px;
}

.cols-6-2 #content-1 {
  float:                left;
  margin-left:          10px;
  padding:              0;
  width:                630px;
}

/* Meta-Content: Informationen zum Artikel */
.cols-8 #content-1 #meta-content {
  float:                right;
  font-size:            0.8em; /* Grundschriftgröße Meta-Content: 12px */
  line-height:          2.0;
  margin-top:           -8em;
  padding:              0 0 0 10px;
  position:             relative;
  width:                185px;
}

/* Sekundärer Content */

.cols-5-3 #content-2 {
  float:                left;
  margin-left:          35px;
  padding:              0;
  width:                295px;
}

.cols-6-2 #content-2 {
  float:                left;
  margin-left:          30px;
  padding:              0;
  width:                195px;
}

/* -----------------------------------*/
/*    Allgemeine Textformatierungen   */
/* -----------------------------------*/

/* Überschriften */

h1, h2, h3, h4, h5, h6 {
  clear:                left;
  color:                #EC6015;
  font-family:          "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  font-weight:          normal;
  letter-spacing:       -0.05em;
}

#main h2 {
  font-size:            1.6em;
  line-height:          1.0;
  margin-bottom:        1.0em;
}

#main h3 {
  font-size:            1.333em;
  line-height:          1.2;
  margin-bottom:        0.6em;
  margin-top:           1.8em;
}

#main h4 {
  font-size:            1.2em;
  line-height:          1.333;
}

#main h5 {
  font-size:            1.0667em;
  line-height:          1.4999;
}

/* Absätze */

#main p {
  margin-bottom:        1.6em;
  word-spacing:         0.1em;
}

#main div.terminal p {
  margin-bottom:        0;
}

hr {
  display:              none;
}

/* Herz-Symbol */
.herz {
  color:                #B61833;
  font-family:          "Symbol";
}

/* Code, Benutzereingaben, Beispiele */

#main pre {
  background:           #999;
  margin-bottom:        1.6em;
  overflow:             auto;
  padding:              0.8em;
  width:                605px;
}

#main code {
  color:                #000;
  font-family:          "Lucida Console", monospace;
  line-height:          1.2;
}

#main code var {
  color:                #FFF;
  font-style:           normal;
  font-weight:          bold;
}

/* Terminal-Style Block */
#main div.terminal {
  background:           #111;
  margin-bottom:        1.6em;
  overflow:             auto;
  padding:              0.8em;
  width:                605px;
}

#main kbd {
  color:                #FFF;
  font-family:          "Lucida Console", monospace;
}

/* Klasse für Tasten-Formatierung (Shortcuts) */
#main kbd.key {
  background:           #BCBCBC;
  border-bottom:        1px solid #333;
  border-left:          1px solid #DDD;
  border-right:         1px solid #333;
  border-top:           1px solid #DDD;
  color:                #000;
  padding:              0.2em;
}

#main samp {
  color:                #999;
  font-family:          "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
  font-style:           italic;
}

/* Listen */

#main ul,
#main ol,
#main dl {
  margin-bottom:        1.6em;
}

#main dt {
  font-weight:          bold;
}

#main dd {
  margin-bottom:        1.6em;
}

/* Semantische Textauszeichnung */

#main strong {
  font-weight:          bold;
}

#main em {
  font-family:          Georgia, Times, "Times New Roman", serif;
  font-size:            1.0em;
  font-style:           italic;
  line-height:          1.5em;
}

#main ins {
  text-decoration:      underline;
}

#main del {
  text-decoration:      line-through;
}

#main abbr,
#main dfn {
  border-bottom:        1px dotted #999;
  color:                #999;
  cursor:               help;
  font-size:            1.0em;
  font-style:           normal;
}

/* Zitate */

#main span.quote {
    color:              #999;
    font-family:        Georgia, Times, "Times New Roman", serif;    
}

#main blockquote {
  color:                #999;
}

#main blockquote p {
  font-family:          Georgia, Times, "Times New Roman", serif;
  font-size:            1.2em;
  line-height:          1.333;
  margin-bottom:        1.333em;
}

#main cite {
  font-family:          Georgia, Times, "Times New Roman", serif;
  font-size:            1.0em;
  font-style:           italic;
  line-height:          1.5em;
}

#main blockquote.preserve pre {
  background:           transparent;
  font-family:          Georgia, Times, "Times New Roman", serif;
  font-size:            1.2em;
  line-height:          1.333;
  margin-bottom:        1.333em;  
  padding:              0;
}

#main blockquote.pullquote {
  border-bottom:        1px solid #CCC;
  border-top:           1px solid #CCC;
  margin-bottom:        1.6em;
  text-align:           center;
  width:                625px;
}

/* Fußnoten, Legende */

#main sup {
  font-family:          Georgia, Times, "Times New Roman", serif;
}

#main #fussnoten {
  border-top:           1px solid #CCC;
  color:                #999;
  font-size:            0.8em;
  line-height:          2.0;
  padding:              2.0em 0 0.4em 0;
  width:                845px;
}

/* Links */

#main a:link {
  border-bottom:        1px dotted #AAA;
  color:                #4994CB;
  text-decoration:      none;
}

#main a:visited {
  border-bottom:        1px dotted #AAA;
  color:                #AAA;
  text-decoration:      none;
}

#main #comments ol.comment li.author a:visited {
  border-bottom:        1px dotted #AAA;
  color:                #4994CB;
  text-decoration:      none;
}

#main a:hover,
#main a:focus,
#main a:active {
  border-bottom:        1px solid #AAA;
  color:                #3D7BA9;
}

#main h1 a:link, #main h1 a:visited,
#main h2 a:link, #main h2 a:visited,
#main h3 a:link, #main h3 a:visited,
#main h4 a:link, #main h4 a:visited,
#main h5 a:link, #main h5 a:visited {
  border:               0;
  color:                #EC6015;
}

#main h1 a:hover, #main h1 a:focus, #main h1 a:active,
#main h2 a:hover, #main h2 a:focus, #main h2 a:active,
#main h3 a:hover, #main h3 a:focus, #main h3 a:active,
#main h4 a:hover, #main h4 a:focus, #main h4 a:active,
#main h5 a:hover, #main h5 a:focus, #main h5 a:active {
  color:                #4994CB;
}

#main #fussnoten a:link,
#main #fussnoten a:visited,
#main sup a:link,
#main sup a:visited {
  border:               0;
}

/* Datum, Zeit und Kommentare; Link zur Kommentareingabe über den Kommentaren */
small.datetime, small.comment-link {
  color:                #999;
  font-size:            0.6666em;
  line-height:          2.0;
}

/* Eintrag bearbeiten Button */

#main .edit-entry img {
  border:               0;
}

#main a.edit-entry {
  border:               0;
}