/* ----------------*/
/*    Startseite   */
/* ----------------*/


/* Aktuelle Notiz */
#main #aktuelle-notiz h2 {
  font-size:            1.6em;
  line-height:          1.0;
  margin-bottom:        1.0em;
  margin-top:           0;
}

/* Ältere Notizen */
#letzte-notizen {
  float:                left;
}

#letzte-notizen li {
  border-bottom:        1px solid #CCC;
  float:                left;
  height:               4.7em;
  list-style:           none;
  margin:               0 15px 1.6em 0;
  padding-bottom:       1.6em;
  padding-right:        10px;
  width:                220px;
}

#main #letzte-notizen h2 {
  font-size:            1.3333em;
  line-height:          1.2;
  margin-bottom:        0.6em;
  margin-top:           0.6em;
}

#main #letzte-notizen h3 {
  font-size:            1.0em;
  line-height:          1.6;
  margin-top:           0;
}

/* Aktuelle und vorgestellte Projekte */
#aktuelle-arbeiten {
  float:                left;
  margin-bottom:        1.3em;
}

#main #aktuelle-arbeiten h2 {
  font-size:            1.3333em;
  line-height:          1.2;
  margin-bottom:        1.2em;
}

#aktuelle-arbeiten img {
  background:           #FFF;
  border:               1px solid #999;
  clear:                both;
  float:                left;
  margin:               0 10px 10px 0;
  padding:              4px;
}

/* Randbemerkungen */
#main #randbemerkungen {
  float:                left;
}

#main #randbemerkungen li {
  border-bottom:        1px solid #CCC;
  list-style:           none;
  margin-bottom:        1.6em;
  padding-bottom:       1.6em;
}

#main #randbemerkungen p {
  display:              inline;
  font-size:            0.8em;
}

#main #randbemerkungen h2 {
  font-size:            1.3333em;
  line-height:          1.2;
  margin-bottom:        0.6em;
  margin-top:           0.6em;
}

#main #randbemerkungen h3 {
  font-size:            1.0em;
  line-height:          1.6;
  margin-bottom:        0;
  margin-top:           0;

}

/* Flickr-Fotos */

#page-startseite #flickr-photos {
  margin-bottom:        1.6em;
}

#page-startseite #flickr-photos h2 {
  margin-top:           0.6em;
}