/* ----------------*/
/*    Fußbereich   */
/* ----------------*/

#sub {
  background:           #363636 url(images/bg_shade_sc.jpg) repeat-x 0 0;
  clear:                both;
  color:                #FFF;
  font-size:            0.6666em;
  line-height:          2.4;
  padding:              24px 0;
}

#sub #logos {
  float:                left;
  padding-top:          0.85em;
  width:                300px;
}

#sub #logos a {
  border:               0;
}

#sub #logos img {
   border:              0;
   margin-right:        5px;
}

#sub p {
  margin-left:          300px;
}

#sub a:link {
  border-bottom:        1px dotted #AAA;
  color:                #AAA;
  text-decoration:      none;
}

#sub a:visited {
  border-bottom:        1px dotted #AAA;
  color:                #AAA;
  text-decoration:      none;
}

#sub a:hover,
#sub a:focus,
#sub a:active {
  border-bottom:        1px solid #FFF;
  color:                #FFF;
}