// ============================================================================
// Attribution
// ============================================================================

// Attribution-Mixings
// -------------------

%attribution {
  overflow: hidden;
  position: relative;
}

%attribution-text {
  @extend %sans-font;
  background: rgba($black, 0.75);
  bottom: -30%;
  color: $white;
  font-size: 15px;
  font-weight: 200;
  left: 0 + $image-border-size;
  margin: 0;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  transition: all 0.6s ease;

  // Der Hover-Link darf nicht dunkel sein
  a {
    @include link-colors($link-color, $link-color, $link-active-color, $link-visited-color, $link-focus-color);
  }

  // Copyright-Zeichen
  b {
    @extend %mono-font;
    font-weight: normal;
  }
}

%attribution-before {
  @extend %mono-font;
  background: rgba($white, 0.7);
  border-radius: 10px;
  color: $black;
  content: "?";
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  transition: all 0.6s ease;
  width: 20px;
}

%attribution-before-fontface {
  @extend %icon-font;
  content: "#{$iconfont-question}";
  font-size: 10px;
  font-weight: 200;
}

// Attribution
// -----------

// Der Container (beliebiges Element)
.attribution {
  @extend %attribution;
}

// Der Attribution-Text (Basis-Styling und verbergen)
.attribution-text {
  @extend %attribution-text;
}

// Der Attribution-Text (Aktiv)
.attribution:hover .attribution-text {
  bottom: 0 + $image-border-size;
  opacity: 1;
}

// Das Fragezeichen
.attribution:before {
  @extend %attribution-before;
  bottom: 15px;
  left: 10px;
  opacity: 0.75;

  .fontface & {
    @extend %attribution-before-fontface;
  }
}

// Versteckt beim Einblenden des Attribution-Textes das Fragezeichen
.attribution:hover:before {
  opacity: 0;
}

// Attribution für Header-Bild
// ---------------------------
// Für ein Headerbild soll die Attribution nur gezeigt werden,
// wenn über das Fragezeichen gehovert wird und nicht über dem
// ganzen Bild.

.attribution-main {
  @extend %attribution;
}

.attribution-main-text {
  @extend %attribution-text;
  bottom: -30px;
  height: 30px;
  left: 0;
  line-height: 30px;
  opacity: 0.9;
  padding: 0 10px;
}

.attribution-main-text:hover {
  bottom: 0;
  opacity: 1;

  .attribution-main-anchor {
    opacity: 0;
  }
}

.attribution-main-anchor {
  // @extend %sans-font;
  height: 34px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: -34px;
  transition: all 0.6s ease;
  width: 34px;

  &:before {
    @extend %attribution-before;
    bottom: 7px;
    left: 7px;

    .fontface & {
      @extend %attribution-before-fontface;
    }
  }
}
