// ============================================================================
// Abbildungen und Bilder
// ============================================================================

// Layout für das div um die Abbildung
figure.image-figure {
  @include trailer(1);
  clear: both;
  float: left;

  a {
    border: 0;
  }

  img {
    margin-bottom: 5px;
  }
}


// Abbildung in voller Breite (Untertitel darunter zentriert)
// ----------------------------------------------------------------------------
.image-figure-fullsize {
  @include grid-span(12, 1, 8);
  margin-left: -(grid-span(2, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(8, 1, 8);
  }
}


// Abbildung links ausgerichtet (Untertitel rechts daneben)
// ----------------------------------------------------------------------------
.image-figure-left {
  @include grid-span(12, 1, 8);
  margin-left: -(grid-span(2, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(8, 1, 8);
  }

  img {
    @include grid-span(10);

    @include breakpoint($content-medium) {
      @include grid-span(12);
    }
  }

  figcaption {
    @include grid-span(2, 11);
    text-align: left;

    @include breakpoint($content-medium) {
      @include grid-span(12);
      text-align: center;
    }
  }
}


// Abbildung rechts ausgerichtet (Untertitel links daneben)
// ----------------------------------------------------------------------------
.image-figure-right {
  @include grid-span(12, 1, 8);
  margin-left: -(grid-span(2, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(8, 1, 8);
  }

  img {
    @include grid-span(10, 3);

    @include breakpoint($content-medium) {
      @include grid-span(12);
    }
  }

  figcaption {
    @include grid-span(2, 1);
    text-align: right;

    @include breakpoint($content-medium) {
      @include grid-span(12);
      text-align: center;
    }
  }
}


// Abbildung zentriert, ragt in beide Ränder hinein (Untertitel darunter)
// ----------------------------------------------------------------------------
.image-figure-center {
  @include grid-span(10, 1, 8);
  margin-left: -(grid-span(1, 1, 8));
  margin-right: 0;

  @include breakpoint($content-medium) {
    @include grid-span(12);
  }
}

// Abbildung mit einem langen Untertitel
// ----------------------------------------------------------------------------
.image-figure-longcaption {
  figcaption {
    text-align: left;
  }
}


// Abbildung mit einer Umrandung
// ----------------------------------------------------------------------------
// Eine Umrandung ist derzeit Standard, aber es gibt Bilder, wo ein Rand nötig
// ist, da es sonst schlecht aussieht. Diese sollten zusätzlich noch das
// Klassen-Attribut für eine Umrandung bekommen.
.image-figure-border img {
  border: $image-border-size solid $image-border-color;
}


// Abbildung ohne Umrandung
// ----------------------------------------------------------------------------
.image-figure-noborder img {
  border: 0;
}


// Abbildung mit einem Schatten
// ----------------------------------------------------------------------------
.image-figure-shadow img {
  box-shadow: 0 1px 3px rgba($black, 0.5);
}

// Code-Beispiele
// ----------------------------------------------------------------------------
.code-figure {
  margin-bottom: 1.5em;

  .highlight {
    margin-bottom: 5px;
  }
}
