// ============================================================================
// Fußnoten
// ============================================================================

// Um eine Fußnote zu setzen wird diese Syntax verwendet[^1]

// Um eine Fußnote zu beschreiben wird diese Syntax verwendet:
// [^1]: Beschreibung der Fußnote

sup a.footnote {
  @extend %sans-font;
  @include adjust-font-size-to(modular-scale(0));
  @include link-colors($dark-grey, $dark-grey, $dark-grey, $dark-grey, $dark-grey);
  cursor: help;
  text-decoration: none;
}

.footnotes {
  @extend %sans-font;
  @include adjust-font-size-to(modular-scale(0));
  clear: both;
  color: lighten($dark-grey, 40);

  a.reversefootnote {
    @include link-colors($dark-grey, $dark-grey, $dark-grey, $dark-grey, $dark-grey);
    border: 0;
    margin-left: 0.25em;
    text-decoration: none;
  }
}
