// ============================================================================
// Hinweis
// ============================================================================

.hinweis {
  @include trailer();
  background: $header-background;
  border-radius: 10px;
  color: $logo-color;
  padding: 10px 15px;

  p {
    margin-bottom: 0;
  }

  a {
    @include link-colors($white, $logo-color, $white, $white, $white);
    border: 0;
  }
}
