// ============================================================================
// Scrollbars
// ============================================================================

::-webkit-scrollbar {
  background: #fafafa;
  height: 5px;
  width: 5px;
}

// Track
::-webkit-scrollbar-track {
  @include border-radius(5px);
  background: #fafafa;
  &:vertical {
    background: $header-border-top-color;
  }
}

// Handle
::-webkit-scrollbar-thumb {
  @include border-radius(5px);
  background: #eeeeee;

  &:hover {
    background: #b8b8b8;
  }
}
