// ============================================================================
// Verse
// ============================================================================

.verse {
  margin: 0;
  padding: 0;
  text-align: center;
}

.verse pre {
  font-family: inherit;
  margin-bottom: 1.5em;
  text-align: left;
  display: inline-block;
  *display: inline;
  zoom: 1;

  .verse-list & {
    margin-bottom: 0;
  }

  @include breakpoint($content-medium) {
    overflow-x: visible;
  }

  @include breakpoint($content-small) {
    overflow-x: auto;
  }
}
