// ============================================================================
// Content
// ============================================================================

// Hintergrund-Muster für den Content-Bereich
// ----------------------------------------------------------------------------
.container {
  // background-image: inline-image("css/patterns/billie_holiday_@2X.png");
  // background-color: $content-background;
  // @include background-size(100px 100px);
  background-image: inline-image("css/patterns/light_grey_@2X.png");
  background-color: $content-background;
  @include background-size(301px 621px);
}

// Active/Inactive-Fenster Selection
// ----------------------------------------------------------------------------
.article * {
  @include selection($selection-background, $selection-color);
}

// Meta-Footer
// ----------------------------------------------------------------------------
.meta {
  font-size: modular-scale(0);
  color: rgba($dark-grey, 0.3);

  .author {
    margin-right: 15px;
  }

  .published {
    margin-right: 15px;
  }
}

// Tags & Kategorien
// ----------------------------------------------------------------------------
.classification {
  @include trailer();

  .categories {
    margin-right: 15px;
  }
}

// Related Links
// ----------------------------------------------------------------------------
.article-related {
  .related {
    list-style: none;
  }
}
