// ============================================================================
// Footer
// ============================================================================

.footer {
  @extend %sans;
  @include background-size(102px 102px);
  background-color: $footer-meta-background;
  background-image: inline-image("css/patterns/classy_fabric_@2X.png");
  color: rgba(white, 0.25);
  padding-top: $base-rhythm-unit;

  .wrap {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  small {
    @include background-size(50px 50px);
    background-color: $footer-small-background;
    background-image: inline-image("css/patterns/dark_stripes_@2X.png");
    color: rgba($white, 0.3);
    display: block;
    margin-top: $base-rhythm-unit;
    padding: 0.5em 0;

    a {
      @include link-colors($footer-link-color, $footer-link-color-active, $footer-link-color-active, $footer-link-color, $footer-link-color-active);
      border: 0;
      text-decoration: none;
    }

    ul, .copyright {
      @include adjust-font-size-to($base-font-size);
    }

    .copyright b {
      @extend %mono;
      font-size: 20px;
      font-weight: 200;
      position: relative;
      top: 2px;
    }

   .no-fontface & .copyright i {
     display: none;
   }

    ul {
      float: right;
      margin: 0 0 0 0.5em;
      list-style: none;
      overflow: hidden;
    }

    li {
      white-space: nowrap;
      float: left;
      padding-right: 0.5em;

      &:after {
        content: '·';
        color: rgba($white, 0.3);
        padding-left: 0.5em;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }
}

.footer {
  // Über mich Sektion
  .about {
    @include span-columns(6);

    h3 {
      color: rgba($white, 0.85);
    }
  }

  // Social Network Icons
  .social-networks {
    @include span-columns(6 omega);

    h3 {
      color: rgba($white, 0.85);
      margin-left: 20px;
    }

    ul {
      list-style: none;
      font-size: 25px;
      text-align: left;
    }

    li {
      display: inline-block;
      margin: 0 0 20px 20px;
    }

    // Sprites (wenn Fontface nicht verfügbar)
    .no-fontface & a {
      display: inline-block;
      height: 30px;
      transition: none;
      width: 30px;

      &:before {
        content: none;
      }
    }

    // Vektor-Fonts (wenn Fontface verfügbar, Sprite ausblenden)
    .fontface & a {
      background: transparent;
    }

    a {
      @include link-colors($social-icon-color, $social-icon-hover, $social-icon-color, $social-icon-color, $social-icon-color);
      @include text-shadow($black -1px -1px 0);
      border: 0;

      &:hover {
        border: 0;
      }
    }

    a span {
      @extend %visually-hidden;
    }
  }
}
