// ============================================================================
// Grids
// ============================================================================

@import "singularitygs";

// Grid-Einstellungen
// ----------------------------------------------------------------------------

// Base Grid
$grids: 12;
$gutters: 0.25;
$output: 'isolation';

$mobile-first: false;
$breakpoint-default-feature: max-width;

// Breakpoint-Grids
// $grids: add-grid(1 2 3 4 at 600px);
// $grids: add-grid(2 8 2 at 500px);

// $grids: add-grid(2 8 2 at 1100px);
// $grids: add-grid(12 at 900px);
// $grids: add-grid(6 at 700px);
// $grids: add-grid(3 at 500px);
// $grids: 1 3 5 7 9;

// Breakpoint-Gutters
// $gutters: add-gutter(1/3 at 900px);

// Extends
%container {
  @include clearfix;
  margin: 0 auto;
  max-width: 920px;
}

%main-grid {
  @include grid-span(8, 3);
}

// Grids
// ----------------------------------------------------------------------------

.outer-container {
  min-height: 100%;
}

.page .main,
.post .main,
.wrap {
  @extend %container;
}

.post .article,
.page .article {
  @extend %main-grid;
  @include leader(1);
  @include trailer(2);
}

header {
  clear: both;
}

footer {
  clear: both;
}

.article-title {
  @extend %container;
}

.article-title h1 {
  @extend %main-grid;
  float: none;
}

.article-title h2 {
  @extend %main-grid;
}
