// ============================================================================
// Grids
// ============================================================================

@import "susy";

// Susy & Compass benutzen HTML hacks um IE 6 und 7 zu unterstützen
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;

// Grid-Einstellungen
// ----------------------------------------------------------------------------
$total-columns: 12;
$column-width:  4em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;

$show-grid-backgrounds:       true;
$default-rhythm-border-style: solid;

// Extends
%main-grid {
  @include span-columns(8);
  @include squish(2, 2);
}

// Grids
// ----------------------------------------------------------------------------
.page .main,
.post .main,
.wrap {
  @include container;
}

.post .article,
.page .article {
  @extend %main-grid;
  @include leader(1);
  @include trailer(2);
}

header {
  clear: both;
}

footer {
  clear: both;
}

.article-title {
  @include container;
}

.article-title h1 {
  @extend %main-grid;
}

.article-title h2 {
  @extend %main-grid;
}
