// ============================================================================
// Header
// ============================================================================

header#top {
  z-index: 100;
  background-color: $header-background;
  background-image: url($header-background-url);
  background-position: center left;
  background-size: cover;
  border-top: 10px solid $header-border-top-color;
  padding: 40px 0 60px 0;
  // background-attachment: fixed;
  // * @FIXME: Ein Fehler in Google Chrome/Opera
  // * Im Moment kann dieses nicht in Kombination
  // * mit translate3d verwendet werden.

  .nav-btn {
    @extend %sans;
    @include adjust-font-size-to(18px);
    @include link-colors($white, $nav-link-color-hover, $white, $white, $white);
    @include text-shadow(0 1px 1px $black);
    border: 0;
    letter-spacing: 1px;
    position: absolute;
    right: 1em;
    text-transform: uppercase;
    top: 1em;
    z-index: 100;

    .no-fontface & i {
      display: none;
    }
  }

  .home & {
    padding: 40px 0 160px 0;
  }

  h1 {
    @include grid-span(7, 4);
    @include text-shadow(0 2px 3px $black);
    color: $header-headline;
    float: none;

    .home & {
      margin-bottom: 0;
    }
  }

  h2 {
    @include adjust-font-size-to($font-scale-h3);
    @include grid-span(7, 4);
    @include text-shadow(0 2px 5px $black);
    clear: both;
    color: $header-subheadline;
    position: relative;
    top: -47px;
  }

  .logo {
    @include grid-span(2, 2);

    .icon-logo {
      display: block;
      @include text-shadow(0 1px 2px $black);
      color: $logo-color;
      font-size: 70px;
      border: 0;
      text-align: right;
      padding: 10px 0 5px 10px;

      .home & {
        font-size: 100px;
      }
    }
  }
}

