// ============================================================================
// Breakpoints
// ============================================================================

// Footer
// ----------------------------------------------------------------------------

// High resolution image of my face
@include breakpoint($hi-resolution) {
  .footer .about p {
    background-image: url("/assets/images/css/footer/stefan-imhoff@2X.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 84px 84px;
  }
}
