// ============================================================================
// Breakpoints
// ============================================================================

// Header
// ----------------------------------------------------------------------------

// Logo, Text, Bildgröße/Bildhöhe

// Footer
// ----------------------------------------------------------------------------

// High resolution image of my face
.footer .about p {
  @include breakpoint($hi-resolution) {
    background-image: url("/assets/images/css/footer/stefan-imhoff@2X.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 84px 84px;
  }
}

// Homepage
// ----------------------------------------------------------------------------

// Blog, Designer, Kampfkünstler, Introvert, Bücherliebhaber, Links

// Archiv
// ----------------------------------------------------------------------------



// Blog
// ----------------------------------------------------------------------------


