/* Code Figure
 **************/

.code-figure {
  clear: both;
  lost-column: 1/1;
  margin-bottom: $default-spacing-bottom;
}

.code-info {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.2em;
}
