/* Pullquote
 ************/

blockquote.pullquote {
  font-size: 2.3em;
  font-style: italic;
  line-height: 1;
  text-align: center;

  p:first-child::before {
    content: open-quote;
  }

  p:last-child::after {
    content: close-quote;
  }
}

blockquote.pullquote[lang|='de'] {
  quotes: '»' '«' '›' '‹';
}

blockquote.pullquote[lang|='en'] {
  quotes: '“' '”' '‘' '’';
}

blockquote.pullquote[lang|='ja'] {
  quotes: '「' '」' '『' '』';
}
