/* Verse
 ********/

.verse {
  font-range: 200px 920px;
  font-size: responsive 12px 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-align: center;

  & p {
    white-space: pre;

    @media screen and (width <= $content-medium) {
      overflow-x: visible;
    }

    @media screen and (width <= $content-small) {
      overflow-x: auto;
    }
  }
}

.verse pre {
  .haiku & {
    margin-bottom: 0;

    p {
      font-range: 200px 920px;
      font-size: responsive 12px 40px;
      text-align: center;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
