<div class="blog section">
  <div class="wrap">
    <h2>Blog-Artikel</h2>
    <p>Ich schreibe in meinem Blog in über Design, Technik, Programmierung und was mich sonst noch so interessiert. Hier sind die letzten Beiträge zu finden, eine Übersicht aller Artikel findet sich im <a href="/archiv/">Archiv</a>.</p>

    <div class="grid-latest">
      {% for post in site.posts limit:1 %}
      {% capture excerpt %}{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content | strip_html | truncate: 350 }}{% endif %}{% endcapture %}
      <a href="{{ root_url }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
      <p>{{ excerpt }}</p>
      {% endfor %}
    </div>

    <div class="grid-recently">
      <h3>Ältere Beiträge</h3>
      <ul>
        {% for post in site.posts limit:4 offset:1 %}
        <li>
          <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
