<div class="introvert section">
  <div class="wrap">

    <div class="grid">
      <h2>Introvertiert</h2>
      <p>Ich bin introvertiert. Weltweit sind nur ca. ¼ aller Menschen introvertiert, wir sind also meistens in der Unterzahl. Introvertierte denken anders, unser Gehirn verarbeitet Informationen anders. Während Extravertierte ihre Energie durch die Interaktion mit anderen Menschen aufladen, verbrauchen Introvertierte ihre Energie durch soziale Interaktion.</p>
    </div>

    <div class="grid-quote">
      <blockquote>
        <p class="japanese">能ある鷹は爪を隠す。</p>
      </blockquote>
      <p>Der Falke mit Talent versteckt seine Krallen.</p>
    </div>

    <div class="grid-links inline-links">
      {% for topic in site.data.introvert %}
        <h3>{{ topic.name }}</h3>
        <ul>
          {% for item in topic.items %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

  </div>
</div>
