<div class="introvert section">
  <div class="wrap">

    <div class="grid">
      <h2>Introvert</h2>
      <p>I am an introvert. Only ¼ of all people around the globe are introverted, that’s why we are usually outnumbered. Introverts think differently, their brain processes information in a different way than other brains. While extraverts get energy by social interaction with other people, introverts loose their energy and need time to refill.</p>
    </div>

    <div class="grid-quote">
      <blockquote>
        <p class="japanese">能ある鷹は爪を隠す。</p>
      </blockquote>
      <p>The wise hawk hides its talons.</p>
    </div>

    <div class="grid-links inline-links">
      {% for topic in site.data.introvert %}
        <h3>{{ topic.name }}</h3>
        <ul>
          {% for item in topic.items %}
            <li><a href="{{ item.url }}">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

  </div>
</div>
