<div class="movie-lover section">
  <div class="wrap">
    <h2>Filmliebhaber</h2>
    <div class="content">
      <p>Ich liebe Filme und Serien. Da aber schon der meiste Platz für Bücher verwendet wird, besitze ich nur ein paar wenige DVDs. Dafür lasse ich mir aber regelmäßig DVDs und Blu-ray-Discs von LoveFilm schicken, habe Netflix, Watchever und Amazon Prime abonniert. Ich schaue so gut wie jedes Genre, mit Ausnahme von Horror-Filmen, die nur sehr selten. Hier geht es zu meinen <a href="http://www.imdb.com/user/ur15936207/">IMDb-Profil</a> und zu meinen <a href="http://www.imdb.com/user/ur15936207/ratings">Bewertungen</a>.</p>
    </div>

    <div class="grid-links inline-links">
      {% for topic in site.data.movies %}
        <h3>{{ topic.name }}</h3>
        <ul>
          {% for movie in topic.items %}
            <li><a href="http://www.imdb.com/title/{{ movie.id }}/">{{ movie.text }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
