# Caching
ExpiresActive on
ExpiresDefault "now plus 1 day"
ExpiresByType image/ico "access plus 3 month"
ExpiresByType image/gif "access plus 3 month"
ExpiresByType image/jpeg "access plus 3 month"
ExpiresByType image/png "access plus 3 month"
ExpiresByType application/x-javascript "access plus 2 month"
ExpiresByType text/css "access plus 7 days"
SetOutputFilter DEFLATE

# Permanent Redirect
redirect 301 /notiz/abmahnung-kogakure-zitat-karl-valentin/ http://stefanimhoff.de/

# Base Rewrite
RewriteEngine On
RewriteBase /

# Redirect (Aktion www.-freies Internet :P )
RewriteCond %{HTTP_HOST} !^stefanimhoff\.de$
RewriteCond %{REQUEST_URI} !^/robots\.txt$
RewriteRule ^(.*)$ http://stefanimhoff.de/$1 [R=301,L]

# Minimierte CSS-Dateien
RewriteCond %{DOCUMENT_ROOT}/css/screen.min.css -f
RewriteRule ^css/screen\.css$ css/screen.min.css

RewriteCond %{DOCUMENT_ROOT}/css/print.min.css -f
RewriteRule ^css/print\.css$ css/print.min.css

# Entfernt das index.php aus der URL                                   
RewriteCond $1 !^(googleeac4fc886a6f9f8d.html|BingSiteAuth.xml|LiveSearchSiteAuth.xml|y_key_dc6ca9ea04c4d2d2.html|images|files|deusex|themes|mint|templates|js|css|favicon\.ico|robots\.txt|index\.php) [NC]
RewriteRule ^(.*)$ /index.php/$1 [L]