<!DOCTYPE html>{% include head/capture_variables.html %}
<!--[if lt IE 7]><html lang="de" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="de" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="de" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ language }}" class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}</title>

  {% include head/mobile.html %}
  {% include head/prerender_prefetch.html %}
  {% include head/fonts.html %}
  {% include head/robots.html %}
  {% include head/description.html %}
  {% include head/twitter_card.html %}
  {% include head/opengraph.html %}
  {% include head/google_authorship.html %}
  {% include head/language.html %}
  {% include head/author.html %}
  {% include head/geo.html %}
  {% include head/keywords.html %}
  {% include head/icons.html %}
  {% include head/canonical.html %}
  {% include head/stylesheets.html %}
  {% include head/modernizr.html %}
  {% include head/feeds.html %}
  {% include head/openid.html %}
  {% include head/microsoft_junk.html %}

  <!-- Statistics -->
  {% include head/mint.html %}
  {% include head/google_analytics.html %}
</head>
