<!-- Icons -->
  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/assets/images/apple/touch-icon-iphone.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/assets/images/apple/touch-icon-ipad.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/apple/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/apple/touch-icon-ipad-retina.png">

  <meta name="msapplication-TileImage" content="{{ site.url }}/assets/images/ms/metro-tile.png">
  <meta name="msapplication-TileColor" content="#b42b2c">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-ipad-landscape-retina.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-ipad-portrait-retina.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-iphone-retina.png" media="screen and (max-device-width: 320px) and (max-device-height: 1136px) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-iphone-old.png" media="screen and (max-device-width: 320px) and (max-device-height: 460px)">
  <link rel="apple-touch-startup-image" href="{{ site.url }}/assets/images/apple/startup-iphone-old-retina.png" media="screen and (max-device-width: 320px) and (max-device-height: 460px) and (-webkit-min-device-pixel-ratio: 2)">
