// ============================================================================
// Theme: Bambus
// ============================================================================

// Farben
// ----------------------------------------------------------------------------

// Header
$header-background:        #84A2AA;
$header-border-top-color:  #20310E;

// Navigation
$nav-link-color-hover:     #89B46B;

// ::selection
$selection-background:     #89B46B;
$selection-color:          $white;

// Pfade
// ----------------------------------------------------------------------------

$header-background-url:    "/images/css/header/test-header.jpg";

