// ============================================================================
// Theme: Bambus
// ============================================================================

// Farben
// ----------------------------------------------------------------------------

// Colors
$dark-grayish-cyan:          #84A2AA;
$slightly-desaturated-green: #89B46B;
$very-dark-orange:           #352414;

// Header
$header-background:          $dark-grayish-cyan;
$header-border-top-color:    $very-dark-orange;

// Logo
$logo-color:                 #b42b2c;

// Navigation
$nav-link-color-hover:       $slightly-desaturated-green;

// Links
$link-color:                 $slightly-desaturated-green;
$link-hover-color:           $dark-grey;
$link-active-color:          $dark-grey;
$link-visited-color:         $slightly-desaturated-green;
$link-focus-color:           $dark-grey;

$link-border-color:          rgba($dark-grey, 0.2);
$link-hover-border-color:    $slightly-desaturated-green;

// ::selection
$selection-background:       $slightly-desaturated-green;
$selection-color:            $white;

// Pfade
// ----------------------------------------------------------------------------

$header-background-url:      "/assets/images/css/header/bonsai--not-aproved.jpg";
