{% include head.html %}
<body{% if page.body_class %} class="{{ page.body_class }}"{% endif %}>
  <!--[if lt IE 7]><p class="chromeframe">Dein Browser ist <em>uralt!</em> <a href="http://browsehappy.com/">Hol dir einen anderen Browser</a> oder <a href="http://www.google.com/chromeframe/?redirect=true">installiere Google Chrome Frame</a> für volles Erlebnis dieser Seite.</p><![endif]-->
  <div class="container">
    <header>
      [SITE HEADER]
    </header>
    <section class="main" role="main">
      {{ content }}
    </section>
    <footer>
      [SITE FOOTER]
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.8.0.min.js"><\/script>')</script>
  {% if is_preview == 'true' %}
  <script src="{{ root_url }}/javascripts/libs/plugins/jquery-widont.js"></script>
  <script src="{{ root_url }}/javascripts/libs/plugins/jquery.fitvids.js"></script>
  <script src="{{ root_url }}/javascripts/ios-rotate-scaling-fix.js"></script>
  <script src="{{ root_url }}/javascripts/script.js"></script>
  {% else %}
  {% javascript application %}
  {% endif %}
</body>
</html>
