// ============================================================================
// Content
// ============================================================================

// Hintergrund-Muster für den Content-Bereich
// ----------------------------------------------------------------------------
.container {
  @extend %pattern-light-grey;
}

// Active/Inactive-Fenster Selection
// ----------------------------------------------------------------------------
.article * {
  @include selection($selection-background, $selection-color);
}

// Meta-Footer
// ----------------------------------------------------------------------------
.meta {
  color: rgba($dark-grey, 0.3);
  font-size: modular-scale(0);

  .author {
    margin-right: 15px;
  }

  .published {
    margin-right: 15px;
  }
}

// Tags & Kategorien
// ----------------------------------------------------------------------------
.classification {
  margin-bottom: $default-margin-bottom;

  .categories {
    margin-right: 15px;
  }
}

// Related Links
// ----------------------------------------------------------------------------
.article-related {
  .related {
    list-style: none;
  }
}
