// ============================================================================
// Navigation
// ============================================================================

// Container für Off-Canvas-Navigation
// ----------------------------------------------------------------------------
// Der äußere Container hat nur den Zweck, dass keine Scrollleiste zu sehen ist,
// der innere Container wird verschoben.
.outer-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

// Navigationsmenü (Basis-Version, ohne JavaScript)
// ----------------------------------------------------------------------------
// Dieses Navigationsmenü verwendet einen Trick über CSS mit :target und :not
// und ist oben am Rand der Seite.
#nav {
  @extend %pattern-pw-maze-black;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;

  .nav-close-btn {
    @extend %sans-font;
    @include link-colors($white, $nav-link-color-hover, $white, $white, $white);
    border: 0;
    display: none;
    padding: 15px;
    position: absolute;
    right: 1em;
    top: 15px;

    span {
      @extend %visually-hidden;
    }

    .no-fontface & i {
      display: none;
    }
  }

  // Wenn nicht das Ziel, dann lass das Menü verschwinden
  &:not(:target) {
    height: 0;
    z-index: 1;
  }

  // Wenn das Ziel, lass den Schließen-Button erscheinen
  &:target {
    .nav-close-btn {
      display: block;
    }
  }
}

// Navigationsmenü (JavaScript)
// ----------------------------------------------------------------------------
// Sobald der Browser JavaScript unterstützt bekommt der User das Off-Canvas-
// Menü zu sehen.
.js {
  #nav {
    box-shadow: inset 5px 5px 10px rgba($black, 0.85);
    height: 100%;
    right: -250px;
    width: 250px;

    .nav-close-btn {
      @extend %sans-font;
      @include link-colors($white, $nav-link-color-hover, $white, $white, $white);
      border: 0;
      display: block;
      font-size: 12px;
      line-height: 2.25;
      padding: 15px;
      position: absolute;
      right: 1em;
      text-shadow: 0 1px 1px $black;
      top: 15px;

      span {
        @extend %visually-hidden;
      }
    }
  }

  .navigation-is-open {
    #nav {
      height: 100%;
      right: 0;
    }

    .container {
      right: 250px;
    }
  }
}

// Navigationsmenü (JavaScript und CSS-Transform3D und CSS-Transitons)
// ----------------------------------------------------------------------------
// Wenn CSS-Transform3D und CSS-Transitions unterstützt werden, wird das
// Off-Canvas-Menü animiert.
.csstransforms3d.csstransitions.js {
  #nav {
    backface-visibility: hidden;
    right: 0;
    transform: translate3d(250px, 0, 0);
    transform-origin: 50% 0%;
    transition: $animation-off-screen-menu;
  }

  .container {
    backface-visibility: hidden;
    right: 0;
    transform: translate3d(0, 0, 0);
    transition: $animation-off-screen-menu;
  }

  // Navigation is open
  .navigation-is-open {
    #nav {
      transform: translate3d(0, 0, 0);
    }

    .container {
      transform: translate3d(-250px, 0, 0);
    }
  }
}

// Styling der Navigationpunkte (Basis-Navigation)
// ----------------------------------------------------------------------------
%nav {
  @extend %sans-font;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0.1em;
  list-style: none;
  margin: 30px 40px;

  li {
    margin-bottom: 0.3em;
  }

  a {
    @include link-colors($nav-link-color, $nav-link-color-hover, $nav-link-color-active, $nav-link-color, $nav-link-color-active);
    border: 0;
    line-height: 1;
    text-decoration: none;
    text-shadow: 0 0 5px $black;
    transition: $animation-navigation-link-hover;
  }
}

.nav {
  @extend %nav;
}

// Styling der Navigationpunkte (Hauptmenüpunkte)
// ----------------------------------------------------------------------------
.nav--main {
  @extend %nav;
  font-weight: 400;
  text-transform: uppercase;
}

// Styling für aktiven Navigationspunkt
// ----------------------------------------------------------------------------
// Dieses State-Klassenattribut wird über JavaScript gesetzt.
#nav .nav-is-active a {
  color: $nav-link-color-active;
}

// Styling für aktiven Navigationspunkt
// ----------------------------------------------------------------------------
.nav-item-external a:hover {
  &:after {
    @extend %icon-font;
    content: " #{$iconfont-external}";
    font-size: 14px;
    line-height: 1;
    position: relative;
    top: -1px;
  }
}
