// Import Compass
@import "compass";
@import "compass/reset";
@import "compass/css3/hyphenation";

// Font Weights
$book:   300;
$normal: 400;
$medium: 500;
$bold:   700;

// Base Font
$base-font-family:     "Ubuntu", Verdana, sans-serif;
$base-font-weight:     $normal;
$base-font-size:       16px;
$base-line-height:     24px;
$relative-font-sizing: true;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size:   85%;
$fixed-line-height: $base-line-height;

// Headline Font Sizes
$font-scale-h1: 41.887px;
$font-scale-h2: 25.888px;
$font-scale-h3: 16px;
$font-scale-h4: 16px;
$font-scale-h5: 16px;
$font-scale-h6: 16px;

// Vertical Rhythm
@include establish-baseline;

html {
  @include debug-vertical-alignment(); // Zeilenhöhe anzeigen
}

@import "../modules/all";
