// Grids
// -----

@import "susy";

// Susy & Compass use HTML hacks to support IE 6 and 7. You can turn that off:
/* $legacy-support-for-ie6 : false; */
/* $legacy-support-for-ie7 : true; */

// Grid
$total-columns: 12;
$column-width:  4em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;

$show-grid-backgrounds:       true;
$default-rhythm-border-style: solid;

// Grid extends
%main-grid {
  @include span-columns(8);
  @include squish(2, 2);
}

%indented-grid {
  @include span-columns(6);
  @include squish(3, 3);
}

// Layout
.page .container,
.post .container {
  @include container;
  // @include susy-grid-background; // Grid anzeigen
}

/* .main { */
/*   @include push(2); */
/*   @include span-columns(8); */
/* } */

.article-header,
.article-related,
.article-footer,
.pagination {
  @extend %main-grid;
}
.article-body {
  > *,
  > .fluid-width-video-wrapper {
    @extend %main-grid;
  }
  > .figure {
    @include span-columns(12);
    @include squish(0, 0);
  }
  > .figure figure {
    @include squish(2, 2);
  }
  > hr {
    @extend %indented-grid;
  }
  > blockquote {
    @extend %indented-grid;
  }
}

header {
  clear: both;
}

footer {
  clear: both;
}
