@import "susy";

// Settings
// ---------
//
// Susy & Compass use HTML hacks to support IE 6 and 7. You can turn that off:
// $legacy-support-for-ie6 : false;
// $legacy-support-for-ie7 : true;

// Grid
// ----

$total-columns: 12;
$column-width:  4em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;

$show-grid-backgrounds:       true;
$default-rhythm-border-style: solid;

// Layout
// ------

.container {
  @include container;
  /* @include susy-grid-background; // Grid anzeigen */
}

.main {
  @include push(2);
  @include span-columns(8);
}

header {
  clear: both;
}

footer {
  clear: both;
}
