body {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  color: $dark-grey;
  @include hyphens(auto);
}

// ### Headlines
h1 {
  @include adjust-font-size-to($font-scale-h1);
  @include trailer(1, $font-scale-h1, margin);
}

h2 {
  @include adjust-font-size-to($font-scale-h2);
}

h3 {
  @include adjust-font-size-to($font-scale-h3);
  font-weight: $normal;
}

h4, h5, h6 {
  @include adjust-font-size-to($font-scale-h4);
  font-weight: $bold;
}

// ### Paragraphs
p {
  @include trailer(1);
}

.article-body > p:first-child {
  @include adjust-font-size-to(22px);
}

// ### Horizontal borders
hr {
  border: 0;
  height: 0;
  margin: 0 $base-rhythm-unit;
  color: rgba(#333, 0.3);
  @include trailing-border(2px);
  @include trailer(2, $base-font-size, margin);
}

// ### Quotes
blockquote {
  margin-left: $base-rhythm-unit;
  margin-right: $base-rhythm-unit;
  @include leader();
  @include trailer();
  font-style: italic;
}

blockquote + p {
  margin-left: $base-rhythm-unit;
  margin-right: $base-rhythm-unit;
}

.verse pre {
  font-family: inherit;
  display: table;
  width: auto;
  margin: 0 auto;
}

// ### Lists
ol {
  @include trailer(1);
  list-style: decimal;
}

ol ol {
  margin: 0 $base-rhythm-unit;
  list-style: lower-latin;
}

ul {
  @include trailer(1);
  list-style: disc;
}

ul ul {
  margin: 0 $base-rhythm-unit;
  list-style: circle;
}

dl {
  @include trailer(1);
}

dt {
  //font-weight: $normal;
}

dt + dd {
  @include trailer(1);
}

dd {
  margin-left: $base-rhythm-unit;
}

// Links
a {
  // normal, hover, active, visited, focus
  @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);
}

// Emphasis
em {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

// Small print
small {
  @include adjust-font-size-to($font-scale-small);
}

// Strikethrough
s {
  text-decoration: line-through;
}

// Citations

// Inline quotes

// Definition

// Abbrevations

// Time

// Code

// Variable

// Sample output

// Keyboard entry

// Superscript/subscript

// Italicised/Emboldened

// Marked

// Edits
