body {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $normal;
  color: $dark-grey;
  @include hyphens(auto);
}

:lang(ja) {
  font-family: $base-font-japanese;
}

// ### Headlines
h1 {
  @include adjust-font-size-to($font-scale-h1);
  @include trailer(1, $font-scale-h1, margin);
}
h2 {
  @include adjust-font-size-to($font-scale-h2);
}
h3 {
  @include adjust-font-size-to($font-scale-h3);
  font-weight: $normal;
}
h4, h5, h6 {
  @include adjust-font-size-to($font-scale-h4);
  font-weight: $bold;
}

// ### Paragraphs
p {
  @include trailer(1);
}
.article-body > p:first-child {
  @include adjust-font-size-to(22px);
}

// ### Horizontal borders
hr {
  border: 0;
  height: 0;
  margin: 0 $base-rhythm-unit;
  color: rgba(#333, 0.3);
  @include trailing-border(2px);
  @include trailer(2, $base-font-size, margin);
}

// ### Quotes
blockquote {
  margin-left: $base-rhythm-unit;
  margin-right: $base-rhythm-unit;
  @include leader();
  @include trailer();
  font-style: italic;
}
blockquote + p {
  margin-left: $base-rhythm-unit;
  margin-right: $base-rhythm-unit;
}
.verse pre {
  font-family: inherit;
  display: table;
  width: auto;
  margin: 0 auto;
}

// Citations
cite {
  font-style: italic;
}
blockquote cite:before {
  content: '–';
  padding-right: 0.3em;
  padding-left: 0.3em;
}

// Pullquote
.pullquote-right:before,
.pullquote-left:before {
  @include adjust-font-size-to(25.888px);
  border: 0;
  content: attr(data-pullquote);
  float: right;
  margin: 0 0 $base-rhythm-unit $base-rhythm-unit;
  padding: 0;
  position: relative;
  top: 15px;
  width: 45%;
}
.pullquote-left:before {
  float: left;
  margin: 0 $base-rhythm-unit $base-rhythm-unit 0;
}

// Inline quotes
q {
  font-style: italic;
}
:lang(en) > q {
  quotes: '“' '”' '‘' '’';
}
:lang(fr) > q {
  quotes: '« ' ' »' '“' '”';
}
/* Alternative deutsche Schreibweise */
/* :lang(de) > q { */
/*   quotes: '„' '“' '‚' '‘'; */
/* } */
:lang(de) > q {
  quotes: '»' '«' '›' '‹';
}
:lang(ja) > q {
  quotes: '「' '」' '『' '』';
  font-style: normal;
}

q:before {content: open-quote;}
q:after {content: close-quote;}

// ### Lists
ol {
  @include trailer(1);
  list-style: decimal;
}
ol ol {
  margin: 0 $base-rhythm-unit;
  list-style: lower-latin;
}
ul {
  @include trailer(1);
  list-style: disc;
}
ul ul {
  margin: 0 $base-rhythm-unit;
  list-style: circle;
}
dl {
  @include trailer(1);
}
dt {
  font-weight: $bold;
}
dt + dd {
  @include trailer(1);
}
dd {
  margin-left: 0;
}

// Links
a {
  // normal, hover, active, visited, focus
  @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);
}

// Emphasis
em {
  font-style: italic;
}
strong {
  font-weight: $bold;
}

// Small print
small {
  @include adjust-font-size-to($font-scale-small);
}

// Strikethrough
s {
  text-decoration: line-through;
}

// Definition
dfn {
  border-bottom: 1px dotted $definition-color;
  cursor: help;
}

// Abbrevations
abbr, acronym {
  cursor: help;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: lowercase;
}
abbr[title], acronym[title] {
  border-bottom-width: 0;
}

// Pre
pre {
  @include trailer(1);
}

// Variable
var {
  font-style: italic;
}

// Sample output
samp {
  @include adjust-font-size-to(15px);
  color: $sample-color;
  font-family: $base-font-mono;
  margin: 0 0.4em;
}

// Keyboard entry
kbd {
  @include adjust-font-size-to(12px);
  @include border-radius(3px);
  @include box-shadow(0 1px 0 rgba($black, 0.2), 0 0 0 2px $white inset);
  background-color: $keyboard-background;
  border: 1px solid $keyboard-border;
  color: $dark-grey;
  display: inline-block;
  font-family: $base-font-sans;
  font-weight: $bold;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.3em 0.6em 0.1em;
  text-shadow: 0 1px 0 $white;
  white-space: nowrap;
}

// Superscript/subscript
sup, sub {
  position: relative;
  vertical-align: 0;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.8ex;
}

// Italicised/Emboldened
i { font-style: italic; }

b { font-weight: $bold; }

// Marked
mark {
  @include background-size(25px 21px);
  background-color: transparent;
  background-image: inline-image("css/mark-center.png");
  position: relative;
  color: rgba($black, 0.75);
  &:before, &:after {
    @include background-size(5px 21px);
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 21px;
    position: absolute;
    width: 5px;
  }
  &:before {
    background-image: inline-image("css/mark-left.png");
    left: -5px;
    top: 0;
  }
  &:after {
    background-image: inline-image("css/mark-right.png");
    bottom: 0;
    right: -5px;
  }
}

// Edits
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}

// Tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: $normal;
  vertical-align: middle;
}
