//====================================
//  Table
//====================================

table {
  border-left-color: transparent !important;
}

caption,
th,
td {
  font-weight: $normal;
  text-align: left;
  vertical-align: middle;
}
