//====================================
//  List
//====================================

ol {
  list-style: decimal;
  margin-bottom: $default-spacing-bottom;

  .article-body & {
    margin-left: $default-spacing-left;

    @include breakpoint($content-medium) {
      margin-left: 0;
    }
  }
}

ol ol {
  list-style: lower-latin;
  margin: 0 1.5em;

  .article-body & {
    margin: 0 1.5em;
  }
}

ul {
  list-style: disc;
  margin-bottom: $default-spacing-bottom;

  .article-body & {
    margin-left: $default-spacing-left;

    @include breakpoint($content-medium) {
      margin-left: 0;
    }
  }
}

ul ul {
  list-style: circle;
  margin: 0 1.5em;

  .article-body & {
    margin: 0 1.5em;
  }
}

dl {
  margin-bottom: $default-spacing-bottom;
}

dt {
  font-weight: $bold;
}

dt + dd {
  margin-bottom: $default-spacing-bottom;
}

dd {
  margin-left: 0;
}
