//====================================
//  Videos
//====================================

video {
  box-sizing: border-box;
  display: block;
  height: auto;
  margin-bottom: $default-margin-bottom;
  width: 100%;
}
