//====================================
//  Code
//====================================

// Pre
code {
  @extend %mono-font;
  background-color: $white;
  border-color: $light-grey;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: $font-scale-small;
  line-height: 1.5;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
}

pre {
  margin-bottom: $default-margin-bottom;

  code {
    display: block;
    line-height: 1.2;
    overflow-x: auto;
  }
}

.highlight {
  @include grid-span(12);
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  clear: both;
  margin-bottom: $default-margin-bottom;
  position: relative;

  .code-figure & {
    margin-bottom: 0;
  }

  @include breakpoint($content-medium) {
    @include grid-span(10, 1, 8);
    clear: both;
    margin-left: -(grid-span(1, 1, 8));
    margin-right: 0;
  }

  pre {
    background: $white;
    padding-bottom: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1.5em;
  }

  code {
    border: 0;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 0;

    &:after {
      background-image: linear-gradient(to right, rgba($white, 0) 20%, $white 50%, $white);
      content: " ";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5em * 3;
    }
  }

  .lineno {
    color: rgba($dark-grey, 0.15);
  }
}


// Variable
var {
  font-style: italic;
}


// Sample output
samp {
  @extend %mono-font;
  background: $sample-background;
  border-color: $light-grey;
  border-radius: 0.4em;
  border-style: solid;
  border-width: 1px;
  color: $sample-color;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-bottom: -1px;
  margin-left: 0;
  margin-right: 0;
  margin-top: -1px;
  padding-bottom: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0;
  white-space: no-wrap;
}
