//====================================
//  Quote
//====================================

blockquote {
  font-style: italic;
  margin: $default-margin;
}

cite {
  font-style: italic;
}

blockquote cite:before {
  content: '–';
  padding-left: 0.3em;
  padding-right: 0.3em;
}

// Inline quotes
q {
  font-style: italic;
}

// @include q-quotes(de, '„' '“' '‚' '‘'); // Alternative German quotes
@include q-quotes(de, '»' '«' '›' '‹');
@include q-quotes(en, '“' '”' '‘' '’');
@include q-quotes(fr, '« ' ' »' '“' '”');
@include q-quotes(ja, '「' '」' '『' '』');

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}
