//====================================
//  Stripe
//====================================

.stripe {
  font-size: 1.1em;
  font-weight: 400;
  line-height: $base-line-height;
  margin-bottom: 0;
  padding: 1.5em 0;

  @include breakpoint(480px) {
    padding: 1em 0;
  }

  p {
    @include breakpoint($hi-resolution) {
      font-weight: 200;
    }
  }
}

.stripe-content {
  column-count: 2;
  column-gap: 30px;

  @include breakpoint($homepage-sections-fullsize) {
    column-count: 1;
  }
}

.stripe-content + .inline-container {
  margin-top: $default-spacing-top;
}
