//====================================
//  Stripe: Introvert
//====================================

.stripe-introvert {
  @extend %pattern-wavegrid;
}

.stripe-introvert-text {
  @include grid-span(6, 1, 12);

  @include breakpoint($homepage-sections-fullsize) {
    @include grid-span(12);
  }
}

.stripe-introvert-quotation {
  @include grid-span(6, 7, 12);
  color: rgba($dark-grey, 0.8);
  padding: 6em 3em 2em;
  text-align: left;

  @include breakpoint($homepage-sections-fullsize) {
    @include grid-span(12);
    margin-bottom: $default-spacing-bottom;
    padding: 0;
    text-align: left;
  }
}

.stripe-introvert-blockquote {
  margin: 0;
}

.stripe-introvert-blockquote-japanese {
  @extend %japanese-font;
  font-size: 1.5em;
  font-style: normal;
  margin-bottom: 0;
}
