//====================================
//  Stripe: Blog
//====================================

.stripe-blog-headline {
  @include breakpoint($homepage-sections-fullsize) {
    line-height: 1.2;
  }
}

.stripe-blog-latest {
  @include grid-span(7, 1, 12);

  @include breakpoint($homepage-sections-fullsize) {
    @include grid-span(12);
  }
}

.stripe-blog-recently {
  @include grid-span(4, 9, 12);

  @include breakpoint($homepage-sections-fullsize) {
    @include grid-span(12);
  }
}

.stripe-blog-recently-list {
  line-height: 1.2;

  @include breakpoint($homepage-sections-fullsize) {
    line-height: 1.2;
    list-style: none;
  }
}

.stripe-blog-recently-item {
  margin-bottom: 0.5em;
}
