//====================================
//  Related Link
//====================================

.article-related {
  .related {
    list-style: disc;

    @include breakpoint($content-medium) {
      margin-left: $default-spacing-left;
    }

    &:only-child {
      list-style: none;
      margin-left: 0;
    }
  }
}
