//====================================
//  Navigation
//====================================

%nav-list {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.1em;
  list-style: none;
  margin-bottom: 0.5em;

  @include breakpoint($meta-footer-two-lines) {
    display: block;
  }
}

.nav {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

.nav-list {
  @extend %nav-list;
}

.nav-list-main {
  @extend %nav-list;
  margin-right: 10px;

  @include breakpoint($meta-footer-two-lines) {
    margin-bottom: 0;
    margin-right: 0;
  }

  &:after {
    @extend %sans-font;
    color: $white;
    content: '✿';

    @include breakpoint($meta-footer-two-lines) {
      display: block;
    }
  }
}

.nav-list-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-link {
  @include link-colors($nav-link-color, $nav-link-color-hover, $nav-link-color-active, $nav-link-color, $nav-link-color-active);
  border: 0;
  line-height: 1;
  text-decoration: none;
  text-shadow: 0 0 5px $black;
  transition: $animation-navigation-link-hover;
}

// Styling for active navigation, set with JavaScript
.nav-is-active .nav-link {
  color: $nav-link-color-active;
}
