//====================================
//  Typography
//====================================

// Modular Scale
// ----------------------
// 18px @ 1:1.618
// 16px @ 1:1.618i
// ----------------------
//
// http://modularscale.com/scale/?px1=18&px2=16&ra1=1.618&ra2=0

$ms-base:            16px 18px;
$ms-ratio:           $golden; // Standard

// Schriftstärken
$normal:             400;
$bold:               700;

// Schriftarten
$base-font-family:   'Gentium Basic', 'Palatino', 'Georgia', 'Droid Serif', serif;
$base-font-sans:     'Yanone Kaffeesatz', 'DIN Condensed', 'Roboto Condensed', 'Droid Sans', 'Segoe UI 8', Arial, Helvetica, sans-serif;
$base-font-mono:     'Menlo', Monaco, 'Droid Sans Mono', 'Andale Mono', 'Lucida Console', 'Courier New', monospace;
$base-font-japanese: 'Hiragino Maru Gothic Pro', sans-serif;

// Grundgrößen und Zeilenhöhe
$font-unit:          1em;
$base-font-size:     modular-scale(1); // 18px
$base-line-height:   1.5;
$base-font-weight:   $normal;

// Überschrift-Schriftgrößen
$font-scale-h1:      modular-scale(6); // 68px
$font-scale-h2:      modular-scale(4); // 42px
$font-scale-h3:      modular-scale(2); // 26px
$font-scale-h4:      modular-scale(2); // 26px
$font-scale-h5:      modular-scale(2); // 26px
$font-scale-h6:      modular-scale(2); // 26px
$font-scale-small:   14px;
$font-scale-intro:   $base-font-size * 1.375;
$font-scale-kbd:     $base-font-size * 0.75;

