//====================================
//  Dimensions
//====================================

$image-border-size:     3px;
$default-margin:        1.5em;
$default-margin-bottom: 1.5em;
$default-margin-top:    1.5em;
$default-margin-right:  1.5em;
$default-margin-left:   1.5em;
