// ============================================================================
// Grids
// ============================================================================

@import "susy";

// Susy & Compass use HTML hacks to support IE 6 and 7. You can turn that off:
// $legacy-support-for-ie6 : false;
// $legacy-support-for-ie7 : true;

// Grid settings
// ----------------------------------------------------------------------------
$total-columns: 12;
$column-width:  4em;
$gutter-width:  1em;
$grid-padding:  $gutter-width;

$show-grid-backgrounds:       true;
$default-rhythm-border-style: solid;

// Layout
// ----------------------------------------------------------------------------
.page .container,
.post .container {
  @include container;
}

.article-header,
.article-related,
.article-footer,
.pagination {
  @extend %main-grid;
}

.article-body {
  > p,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > pre,
  > figure.code,
  > img,
  > .figure figure,
  > ul,
  > ol,
  > dl,
  > .table-figure,
  > .highlight,
  > .fluid-width-video-wrapper,
  > .hinweis,
  > .download {
    @extend %main-grid;
  }
  > hr {
    @extend %indented-grid;
  }
  > blockquote {
    @extend %indented-grid;
  }
}

header {
  clear: both;
}

footer {
  clear: both;
}
