// ============================================================================
// Icon-Font (iconfont)
// ============================================================================
//
// Diese Datei wird automatisch kompiliert, daher keine Änderungen
// direkt darin machen, sondern diese im Ordner für Templates unter
// `vectors/templates/_iconfont.scss` ändern.

// Variables für die Nutzung in content
// ------------------------------------

$icon-cc: "\f100";
$icon-close: "\f101";
$icon-download: "\f102";
$icon-external: "\f103";
$icon-facebook: "\f104";
$icon-feed: "\f105";
$icon-flickr: "\f106";
$icon-github: "\f107";
$icon-google-plus: "\f108";
$icon-logo: "\f109";
$icon-menu: "\f10a";
$icon-pinterest: "\f10b";
$icon-question: "\f10c";
$icon-tumblr: "\f10d";
$icon-twitter: "\f10e";
$icon-xing: "\f10f";

// Font-Face
// ---------

@font-face {
  font-family: "iconfont";
  src: url("/assets/fonts/iconfont_9e080dd47b1db2e036a9d316e85163a5.eot");
  src: url("/assets/fonts/iconfont_9e080dd47b1db2e036a9d316e85163a5.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/iconfont_9e080dd47b1db2e036a9d316e85163a5.woff") format("woff"),
       url("/assets/fonts/iconfont_9e080dd47b1db2e036a9d316e85163a5.ttf") format("truetype"),
       url("/assets/fonts/iconfont_9e080dd47b1db2e036a9d316e85163a5.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Styling für Icon-Fonts
// ----------------------

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-cc:before,
.icon-close:before,
.icon-download:before,
.icon-external:before,
.icon-facebook:before,
.icon-feed:before,
.icon-flickr:before,
.icon-github:before,
.icon-google-plus:before,
.icon-logo:before,
.icon-menu:before,
.icon-pinterest:before,
.icon-question:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-xing:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Einzelne Klassen-Attribute
// --------------------------

.icon-cc:before { content: "\f100"; }
.icon-close:before { content: "\f101"; }
.icon-download:before { content: "\f102"; }
.icon-external:before { content: "\f103"; }
.icon-facebook:before { content: "\f104"; }
.icon-feed:before { content: "\f105"; }
.icon-flickr:before { content: "\f106"; }
.icon-github:before { content: "\f107"; }
.icon-google-plus:before { content: "\f108"; }
.icon-logo:before { content: "\f109"; }
.icon-menu:before { content: "\f10a"; }
.icon-pinterest:before { content: "\f10b"; }
.icon-question:before { content: "\f10c"; }
.icon-tumblr:before { content: "\f10d"; }
.icon-twitter:before { content: "\f10e"; }
.icon-xing:before { content: "\f10f"; }
