// ============================================================================
// Init
// ============================================================================

@charset "UTF-8";

@include viewport {
  width: device-width;
}

@include breakpoint($iphone-width) {
  html {
    -webkit-text-size-adjust: none;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}

// Vertical-Rythm Fonts einstellen
@include establish-baseline();

// Alle Elemente so einstellen, dass Padding nicht dazu gerechnet wird
* {
  @include box-sizing(border-box);
}



