// ============================================================================
// Init
// ============================================================================

@charset "UTF-8";
@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html, body {
  height: 100%;
  min-height: 100%;
}

.outer-container {
  min-height: 100%;
}

// Imports
// ----------------------------------------------------------------------------
@import "compass";
@import "compass/reset";
@import "modular-scale";

// Vertical Rhythm
// ----------------------------------------------------------------------------
@include establish-baseline();
