// ============================================================================
// Shame
// ============================================================================

// Quick fixes and things to be done right later.

// Quick demo to prove my idea
.home .intro {
  background: #5EA459 url(/images/styleguide/kelp-demo-1.jpg) center top no-repeat;
  background-size: cover;
  /* background-size: contain; */
  /* background-attachment: fixed; */
  height: 300px;
  color: $white;
}

// Hintergrund-Muster
body {
  background-color: #EEEEEE;
  background-image: inline-image("css/billie_holiday.png");
  @include background-size(100px 100px);
}

// Kein Auto-Adjust beim Drehen des iPhones
@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}

// Active/Inactive-Fenster Selection
.article * {
  @include selection(black, white);
}
