// ============================================================================
// Shame
// ============================================================================

// Quick fixes and things to be done right later.

// Quick demo to prove my idea
.home .intro {
  background: #5EA459 url(/images/styleguide/kelp-demo-1.jpg) center top no-repeat;
  background-size: cover;
  /* background-size: contain; */
  /* background-attachment: fixed; */
  height: 300px;
  color: $white;
}

// Hintergrund-Muster
body, .container {
  background-color: #EEEEEE;
}

.container {
  background-image: inline-image("css/billie_holiday_@2X.png");
  @include background-size(100px 100px);
}

// Kein Auto-Adjust beim Drehen des iPhones
@media screen and (max-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
}

// Active/Inactive-Fenster Selection
.article * {
  @include selection(black, white);
}

// Off-Screen Navigation (einfach, ohne JavaScript)
.outer-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

#top {
  z-index: 100;

  .nav-btn {
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 100;
  }
}

#nav {
  background: black; // @TODO: Texture
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 200;

  .nav-close-btn {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
  }

  // Wenn nicht das Ziel, dann lass das Menü verschwinden
  &:not(:target) {
    z-index: 1;
    height: 0;
  }

  // Wenn das Ziel, lass den Schließen-Button erscheinen
  &:target {
    .nav-close-btn {
      display: block;
    }
  }
}

// JavaScript menu
.js {
  #nav {
    background: black;
    height: 100%;
    width: 250px;
    right: -250px;

    .nav-close-btn {
      display: none;
    }
  }

  .navigation--open {
    #nav {
      right: 0;
      height: 100%;
    }
    .container {
      right: 250px;
    }
  }
}

// JavaScript menu mit Transition
.csstransforms3d.csstransitions.js {
  #nav {
    right: 0;
    @include transform(translate3d(250px, 0, 0));
    @include backface-visibility(hidden);
    @include transition($animation-off-screen-menu);
    @include transform-origin(50% 0%);
  }

  .container {
    right: 0;
    @include transform(translate3d(0, 0, 0));
    @include transition($animation-off-screen-menu);
    @include backface-visibility(hidden);
  }

  // Navigation is open
  .navigation--open {
    #nav {
      @include transform(translate3d(0, 0, 0));
    }

    .container {
      @include transform(translate3d(-250px, 0, 0));
    }
  }
}


// Active Navigaiton styling
#nav .navigation--active {
  color: yellow;
}

// New header with article title (BETA)
header#top {
  background-color: #84a2aa;
  background-image: url(/images/css/test-header.jpg);
  background-position: center left;
  background-size: cover;
  border-top: 10px solid #20310e;
  padding: 80px 0 20px 0;
  // background-attachment: fixed;
  // * @FIXME: Bug in Google Chrome/Opera.
  // * Can’t be used at the moment in combination
  // * with translate3d

  h1 {
    color: white;
    @include text-shadow(0 2px 3px black);
  }
}

.article-title {
  @include container;
}

.article-title h1 {
  @extend %main-grid;
}

// New Footer (BETA)
.contentinfo {
  @extend %sans;
  @include background-size(102px 102px);
  background-image: inline-image("css/classy_fabric_@2X.png");
  color: rgba(white, 0.25);
  padding-top: $base-rhythm-unit;

  .wrap {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  small {
    color: rgba($white, 0.3);
    margin-top: $base-rhythm-unit;
    display: block;
    background-image: inline-image("css/dark_stripes_@2X.png");
    @include background-size(50px 50px);
    padding: 0.5em 0;

    a {
      @include link-colors($footer-link-color, $footer-link-color-active, $footer-link-color-active, $footer-link-color, $footer-link-color-active);
      text-decoration: none;
    }

    ul, span {
      @include adjust-font-size-to($base-font-size);
    }

    span b {
      @extend %serif;
    }

    ul {
      float: right;
      margin: 0 0 0 0.5em;
      list-style: none;
      overflow: hidden;
    }

    li {
      white-space: nowrap;
      float: left;
      padding-right: 0.5em;

      &:after {
        content: '·';
        color: rgba($white, 0.3);
        padding-left: 0.5em;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }
}

