// ============================================================================
// Vars
// ============================================================================

// Colors
// ----------------------------------------------------------------------------

$black:                    #000000;
$white:                    #FFFFFF;
$dark-grey:                #333333;
$light-grey:               #DDDDDD;

$keyboard-border:          #CCCCCC;
$keyboard-background:      #F7F7F7;
$sample-color:             #CCCCCC;
$definition-color:         #999999;
$table-border-color:       #DDDDDD;
$table-striped-background: #F9F9F9;
$image-border-color:       #CCCCCC;

// Typography
// ----------------------------------------------------------------------------

/* Modular Scale
 * ----------------------
 * 18px @ 1:1.618
 * 16px @ 1:1.618i
 * ----------------------
 *
 * http://modularscale.com/scale/?px1=18&px2=16&ra1=1.618&ra2=0
 *
 */

$ratio:         golden(); // Default
$base-size:     16px 18px;

// Font Weights
$normal:        400;
$bold:          700;

// Font Families
$base-font-family:           'Gentium Basic', serif;
$base-font-sans:             Arial, Helvetica, sans-serif;
$base-font-mono:             Menlo, Monaco, 'Andale Mono', 'Lucida console', 'Courier New', monospace;
$base-font-japanese:         'Hiragino Maru Gothic Pro', sans-serif;

// Base sizes and line-height
$base-font-size:             modular-scale(1);
$base-line-height:           24px;
$base-font-weight:           $normal;
$base-rhythm-unit:           $base-line-height / $base-font-size * $font-unit;

// Vertical rhythm
$relative-font-sizing:       true;
$round-to-nearest-half-line: true; // Verhindert zu große Lücken zwischen den Zeilen

// Headline Font Sizes
$font-scale-h1:              modular-scale(5); // 47.123px;
$font-scale-h2:              modular-scale(3); // 29.124px;
$font-scale-h3:              modular-scale(2); // 25.888px;
$font-scale-h4:              modular-scale(1); // 18px;
$font-scale-h5:              modular-scale(1); // 18px;
$font-scale-h6:              modular-scale(1); // 18px;
$font-scale-small:           14px;

// Fonts
%base {
  font-family: $base-font-family;
}

%sans {
  font-family: $base-font-sans;
}

%mono {
  font-family: $base-font-mono;
}

%japanese {
  font-family: $base-font-japanese;
}
