// ============================================================================
// Error-Seiten
// ============================================================================

body.error {
  .main {
    @include clearfix;
    position: relative;
  }

  .error-body {
    @include grid-span(6, 6, 12);
    margin-top: $default-margin-top * 2;
    min-height: 415px;
    position: relative;
  }

  .error-image {
    @include grid-span(5, 1, 12);
    border: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}
