{% unless index %}
  <div class="article-body">{{ content | ampersand | abbr | nospace }}</div>
{% endunless %}

{% unless page.footer == false %}
  <footer class="article-footer">
    {% if page.date or page.author %}
      {% unless page.meta == false %}
        <div class="meta">
          <span class="author">
            <i class="icon-quill"></i>
            {% if page.language == "en" %}
              {% if page.author %}<em>by</em> {% include post/author.html %}{% endif %}
            {% else %}
              {% if page.author %}<em>von</em> {% include post/author.html %}{% endif %}
            {% endif %}
          </span>
          <span class="publication">
            {% include post/date.html %}{% if updated %}{{ time }}{{ updated }}{% else %}{{ time }}{% endif %}
          </span>
        </div>
        <div class="classification">
          {% if page.categories %}{% include post/categories.html %}{% endif %}
          {% if page.tags %}{% include post/tags.html %}{% endif %}
        </div>
      {% endunless %}
    {% endif %}
  </footer>
{% endunless %}
