<footer class="footer" role="contentinfo">
  <div class="wrap">
    <div class="about">
      <h3>Über mich</h3>
      <p><em>Stefan Imhoff</em>, Frontend Engineer bei <a href="https://www.xing.com/profile/Stefan_Imhoff">XING</a>. Designer, Webentwickler und Kampfkünstler. Liebt <a href="http://kogakure.de/">Ninja &amp; Ninjutsu</a>, Bujinkan, <a href="http://www.imdb.com/user/ur15936207/ratings">Filme</a>, <a href="https://www.goodreads.com/review/list/28460819-stefan">Bücher</a>, Architektur, Design, Typographie, Philosophie, Japan, <a href="http://irezumi-tebori.tumblr.com/">Japanische Tätowierungen</a>, Gewitter &amp; Regen, Sonne, Meer, Wälder, Bambus, Kanji, Apple, Wabi&nbsp;Sabi, Niedersächsische Hochzeitssuppe, <a href="/haiku/">Haiku</a> und Vim.</p>
    </div>
    <div class="social-networks">
      <h3>Social Networks</h3>
      <ul>
        {% for link in site.data.social-links %}
          <li><a href="{{ link.url | replace: '!FEEDBURNER_URL!', site.data.settings.social.feedburner_url }}" class="{{ link.class }}"><span>{{ link.name }}</span></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <small>
    <div class="wrap">
      <ul>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/styleguide/">Styleguide</a></li>
        <li><a href="#top" id="top-link">Nach oben</a></li>
      </ul>
      <div class="copyright"><b>©</b> <span class="nobr">2006-{{ site.time | date: "%Y" }}</span>, <span class="nobr">Stefan Imhoff</span>. Die Inhalte sind unter einer <span class="nobr"><a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><i class="icon-cc"></i> CreativeCommons-Lizenz</a></span> veröffentlicht.</div>
    </div>
  </small>
</footer>
