<footer class="footer" role="contentinfo">
  <div class="wrap">
    <div class="footer-about custom-underline">
      <h3 class="footer-about-headline">
        {{ site.data.settings.about.headline }}
      </h3>
      {{ site.data.settings.about.text | markdownify }}
    </div>
    <div class="footer-social">
      <h3 class="footer-social-headline">
        {{ site.data.settings.socialnetworks.headline }}
      </h3>
      <ul class="footer-social-list">
        {% for link in site.data.social-links %}
          <li class="footer-social-list-item">
            <a href="{{ link.url | replace: '!FEEDBURNER_URL!', site.data.settings.social.feedburner_url }}" class="footer-social-link {{ link.class }}">
              <span class="footer-social-link-text">{{ link.name }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <small class="footer-legal">
    <div class="wrap">
      <ul class="footer-legal-list">
        <li class="footer-legal-list-item">
          <a class="footer-legal-link" href="/impressum/">Impressum</a>
        </li>
        <li class="footer-legal-list-item">
          <a class="footer-legal-link" href="/styleguide/">Styleguide</a>
        </li>
        <li class="footer-legal-list-item">
          <a class="footer-legal-link" href="#top" id="top-link">Scroll up</a>
        </li>
      </ul>
      <div class="footer-legal-copyright">
        <b class="footer-legal-copyright-sign">©</b>
        <span class="nobr">2006-{{ site.time | date: "%Y" }}</span>,
        <span class="nobr">Stefan Imhoff</span>.
        The content of this page is published under a
        <span class="nobr">
          <a class="footer-legal-link" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
            <i class="icon-cc"></i> Creative Commons
          </a>
        </span>
        Licence.
      </div>
    </div>
  </small>
</footer>
