<header id="top" class="header attribution-main" role="banner">

  {% include attribution_header.html %}

  <div class="article-title">
    <div class="logo">
      {% if page.homepage %}
        <i class="icon-logo"></i>
      {% else %}
        <a href="{{ site.root }}" class="icon-logo"></a>
      {% endif %}
    </div>
    <h1>{{ site.data.settings.title }}</h1>
    {% if page.homepage %}
      <h2>{{ site.data.settings.seo.description }}</h2>
    {% endif %}
  </div>
  <a href="#nav" class="nav-btn js-nav-btn"><span>Navigation</span> <i class="icon-menu"></i></a>
</header>
