<nav id="nav" role="navigation">
  <ul class="nav--main">
    <li><a href="/">Startseite</a></li>
    <li><a href="/archiv/">Archiv</a></li>
    <li><a href="/kategorie/">Kategorien</a></li>
    <li><a href="/tag/">Tags</a></li>
  </ul>

  <ul class="nav">
    <li><a href="/styleguide/">Styleguide</a></li>
    <li><a href="/haiku/">Haiku</a></li>
    <li><a href="/impressum/">Impressum</a></li>
  </ul>
  {% comment %}
  <ul class="nav">
    <li class="nav-item-external"><a href="http://shinshinshingan.tumblr.com/">Tumblr</a></li>
    <li class="nav-item-external"><a href="https://github.com/kogakure">GitHub</a></li>
    <li class="nav-item-external"><a href="https://plus.google.com/+StefanImhoff">Google+</a></li>
    <li class="nav-item-external"><a href="https://www.xing.com/profile/Stefan_Imhoff">XING</a></li>
    <li class="nav-item-external"><a href="https://www.pinterest.com/kogakure/">Pinterest</a></li>
    <li class="nav-item-external"><a href="https://twitter.com/kogakure">Twitter</a></li>
    <li class="nav-item-external"><a href="https://www.facebook.com/kogakure">Facebook</a></li>
    <li class="nav-item-external"><a href="https://www.flickr.com/photos/kogakure">Flickr</a></li>
  </ul>
  {% endcomment %}
  <a href="#top" class="nav-close-btn"><i class="icon-close"></i> <span>Zurück zum Inhalt</span></a>
</nav>
