// ============================================================================
// Homepage
// ============================================================================

.home {
  .section {
    @extend %sans;
    padding: 1.5em 0;

    p {
      font-size: 1.1em;
      font-weight: 200;
      line-height: 1.5;
    }
  }

  // Artikel
  .blog {
    .grid-latest {
      @include grid-span(7, 1, 12);
    }
    .grid-recently {
      @include grid-span(4, 9, 12);
    }
  }

  // Arbeit
  .work {
    background-color: #c4cacd;
    background-image: url(/assets/images/css/header/office.jpg);
    background-position: center center;
    background-size: cover;
    border-top: 1px solid rgba($dark-grey, 0.2);

    .grid {
      @include grid-span(8, 1, 12);
    }
  }

  // Introvertiert
  .introvert {
    @extend %paper-background;

    .japanese {
      @extend %japanese;
      font-size: 1.5em;
      font-style: normal;
      margin-bottom: 0;
    }

    .grid {
      @include grid-span(6, 1, 12);
    }

    .grid-quote {
      @include grid-span(6, 7, 12);
      color: rgba($dark-grey, 0.5);
      text-align: right;

      blockquote {
        margin: 0;
      }

      > p {
        font-style: normal;
        margin-bottom: 0;
      }
    }

    .grid-links {
      clear: both;

      h3, ul, li {
        display: inline;
      }

      h3 {
        font-size: 1em;
        margin-right: 0.25em;
      }

      li {
        margin-right: 0.5em;
      }
    }
  }

  // Kampfkunst
  .martial-arts {
    $martial-arts-color: #f8cf73;

    background-color: #1f130c;
    background-image: url(/assets/images/css/header/bushi.jpg);
    background-position: center top;
    background-size: cover;
    color: $white;

    a {
      @include link-colors($martial-arts-color, $white, $martial-arts-color, $martial-arts-color, $martial-arts-color);

      &:hover {
        border-color: $martial-arts-color;
      }
    }

    h2 {
      color: $martial-arts-color;
    }

    .grid {
      @include grid-span(7, 1, 12);
    }
  }

  // Bücherliebhaber
  .book-lover {
    $book-lover-color: tint(#a46746, 25);

    color: $white;
    background-color: #351610;
    background-image: url(/assets/images/css/header/library.jpg);
    background-position: center bottom;
    background-size: cover;

    h2 {
      color: $book-lover-color;
    }

    .grid {
      @include grid-span(9, 1, 12);
    }

    a {
      @include link-colors($book-lover-color, $white, $book-lover-color, $book-lover-color, $book-lover-color);

      &:hover {
        border-color: $book-lover-color;
      }
    }
  }

  // Empfehlungen
  .recommendations {
    @extend %paper-background;
  }
}
