// ============================================================================
// Homepage
// ============================================================================

.home {
  .section {
    @extend %sans;
    padding: 1.5em 0;

    @include breakpoint($screen-480) {
      padding: 1em 0;
    }

    p {
      font-size: 1.1em;
      font-weight: 200;
      line-height: 1.5;
    }
  }

  // Artikel
  .blog {
    @include breakpoint($homepage-sections-fullsize) {
      h3 {
        line-height: 1.2;
      }
    }

    .grid-latest {
      @include grid-span(7, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
      }
    }
    .grid-recently {
      @include grid-span(4, 9, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);

        ul {
          margin-bottom: 0;
          list-style: none;
        }
      }
    }
  }

  // Arbeit
  .work {
    background-color: #c4cacd;
    background-image: url(/assets/images/css/home/office.jpg);
    background-position: center center;
    background-size: cover;
    border-top: 1px solid rgba($dark-grey, 0.2);

    @include breakpoint($homepage-sections-fullsize) {
      background-image: url(/assets/images/css/home/office-small.jpg);
    }

    .grid {
      @include grid-span(8, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);

        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // Introvertiert
  .introvert {
    @extend %pattern-light-grey;

    .japanese {
      @extend %japanese;
      font-size: 1.5em;
      font-style: normal;
      margin-bottom: 0;
    }

    .grid {
      @include grid-span(6, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
      }
    }

    .grid-quote {
      @include grid-span(6, 7, 12);
      color: rgba($dark-grey, 0.5);
      text-align: right;

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
        @include trailer();
        text-align: left;
      }

      blockquote {
        margin: 0;
      }

      > p {
        font-style: normal;
        margin-bottom: 0;
      }
    }

    .grid-links {
      clear: both;
    }
  }

  // Kampfkunst
  .martial-arts {
    $martial-arts-color: #f8cf73;

    background-color: #1f130c;
    background-image: url(/assets/images/css/home/bushi.jpg);
    background-position: center top;
    background-size: cover;
    color: $white;

    @include breakpoint($homepage-sections-fullsize) {
      background-image: url(/assets/images/css/home/bushi-small.jpg);
    }

    a {
      @include link-colors($martial-arts-color, $white, $martial-arts-color, $martial-arts-color, $martial-arts-color);

      &:hover {
        border-color: $martial-arts-color;
      }
    }

    h2 {
      color: $martial-arts-color;
    }

    .grid {
      @include grid-span(7, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
      }
    }
  }

  // Bücherliebhaber
  .book-lover {
    $book-lover-color: tint(#a46746, 25);

    color: $white;
    background-color: #351610;
    background-image: url(/assets/images/css/home/library.jpg);
    background-position: center bottom;
    background-size: cover;

    @include breakpoint($homepage-sections-fullsize) {
      background-image: url(/assets/images/css/home/library-small.jpg);
    }

    h2 {
      color: $book-lover-color;
    }

    .grid {
      @include grid-span(9, 1, 12);

      @include breakpoint($homepage-sections-fullsize) {
        @include grid-span(12);
      }
    }

    a {
      @include link-colors($book-lover-color, $white, $book-lover-color, $book-lover-color, $book-lover-color);

      &:hover {
        border-color: $book-lover-color;
      }
    }
  }

  // Empfehlungen
  .recommendations {
    @extend %pattern-light-grey;
  }
}
