<div class="book-lover section">
  <div class="wrap">
    <h2>Bücherliebhaber</h2>
    <div class="content">
      <p>Ich liebe <a href="">Bücher</a>, und zwar die richtigen aus Papier. Ein Wohnzimmer ohne Bücherregal könnte ich mir kaum vorstellen.</p>
      <p>Vermutlich ist diese Leidenschaft erblich, denn mein Großvater hatte über <strong>4000 Bücher</strong> in seiner Bibliothek, ich habe erst ca. <strong>1000 Bücher</strong> bei mir stehen. Neben Klassikern lesen ich auch gerne Bücher über <em>Philosophie</em>, <em>Kampfkunst</em>, <em>Kunst &amp; Design</em>, <em>Architektur</em>, <em>Typographie</em> und hin und wieder auch Romane.</p>
      <p>Fachbücher lese ich aber auch digital, denn die veralten viel zu schnell und sind meist weder schön gestaltet noch gut gebunden.</p>
    </div>
  </div>
</div>
