<div class="book-lover section">
  <div class="wrap">
    <h2>Bücherliebhaber</h2>
    <div class="content">
      <p>Ich liebe <a href="https://www.goodreads.com/review/list/28460819">Bücher</a>, und zwar die richtigen aus Papier. Ein Wohnzimmer ohne Bücherregal könnte ich mir kaum vorstellen.</p>
      <p>Vermutlich ist diese Leidenschaft erblich, denn mein Großvater hatte über <strong>4.000</strong> Bücher in seiner Bibliothek, bei mir sind es erst etwas über <strong>1.000</strong> Bücher. Ich kaufe gerne auf Vorrat, so dass immer ein Stapel von ca. 50 Büchern ungelesen ist. Neben Klassikern lesen ich auch gerne Bücher über Philosophie, Kampfkunst, Kunst &amp; Design, Architektur, Typographie und hin und wieder auch Romane.</p>
      <p>Fachbücher lese ich aber auch digital, denn die veralten viel zu schnell und sind meist weder schön gestaltet noch gut gebunden.</p>
    </div>

    <div class="grid-links inline-links">
      <h3>Lieblingsbücher</h3>
      <ul>
        <li><a href="{% amazon 3458174303 %}">Ilias. Odyssee</a></li>
        <li><a href="{% amazon 0881792128 %}">The Elements <em>of</em> Typographic Style</a></li>
        <li><a href="{% amazon 0971084955 %}">Understand? Good. Play!</a></li>
        <li><a href="{% amazon 3150087147 %}">Herz der Finsternis</a></li>
        <li><a href="{% amazon 345352795X %}">Die Foundation-Trilogie</a></li>
        <li><a href="{% amazon 3442542103 %}">Fight Club</a></li>
        <li><a href="{% amazon 0307463745 %}">Rework</a></li>
        <li><a href="{% amazon 0321344758 %}">Don’t Make me Think</a></li>
        <li><a href="{% amazon 0321749855 %}">Designing the Obvious</a></li>
        <li><a href="{% amazon 0321928989 %}">Lighting und Rendering</a></li>
        <li><a href="{% amazon B0058NWFT8 %}">Cinematography &amp; Directing</a></li>
        <li><a href="{% amazon 1592531253 %}">Making and Breaking the Grid</a></li>
        <li><a href="{% amazon 3423091118 %}">Die Kürze des Lebens</a></li>
        <li><a href="{% amazon 3458318917 %}">Die Räuber vom Liang Schan Moor</a></li>
        <li><a href="{% amazon 3783161452 %}">Selbstversorgung aus dem Garten</a></li>
        <li><a href="{% amazon 3831015775 %}">Das neue Buch vom Leben auf dem Lande</a></li>
        <li><a href="{% amazon 4894445786 %}">The Traditional Colors of Japan</a></li>
      </ul>

      <h3>Lieblingcomics</h3>
      <ul>
        <li><a href="{% amazon 3939625000 %}">Prinz Eisenherz</a></li>
        <li><a href="{% amazon 3862016609 %}">Daytripper</a></li>
        <li><a href="{% amazon 1401222668 %}">Watchmen</a></li>
        <li><a href="{% amazon 1569714029 %}">300</a></li>
        <li><a href="{% amazon 394264911X %}">Sin City</a></li>
        <li><a href="{% amazon 3862010406 %}">Kick-Ass</a></li>
        <li><a href="{% amazon 0930193350 %}">Usagi Yojimbo</a></li>
        <li><a href="{% amazon 3867756279 %}">Großes Wilhelm Busch Album</a></li>
      </ul>
    </div>
  </div>
</div>
