<div class="introvert section">
  <div class="wrap">

    <div class="grid">
      <h2>Introvertiert</h2>
      <p>Ich bin introvertiert. Laut einer Studie sind nur ca. ¼ aller Menschen introvertiert, wir sind also immer in der Unterzahl. Introvertierte denken anders, unser Gehirn verarbeitet Informationen anders.</p>
    </div>

    <div class="grid-quote">
      <blockquote>
        <p class="japanese">能ある鷹は爪を隠す</p>
      </blockquote>
      <p>Der Falke mit Talent versteckt seine Krallen.</p>
    </div>

    <div class="grid-links inline-links">
      <h3>Videos</h3>
      <ul>
        <li><a href="http://www.ted.com/talks/susan_cain_the_power_of_introverts">Susan Cain: The power of introverts</a></li>
        <li><a href="https://www.youtube.com/watch?v=rUaj7rj6MI8">RSA Shorts - The Power of Quiet</a></li>
        <li><a href="https://www.youtube.com/watch?v=HChusFnyVzE">Party Survival Guide for Introverts</a></li>
      </ul>

      <h3>Comics</h3>
      <ul>
        <li><a href="http://halfblog.net/2012/12/30/how-to-live-with-introverts/">How to live with introverts</a></li>
        <li><a href="http://heyluchie.tumblr.com/post/53461087106/my-comic-introversion-is-finished-please-go-to">Luchie’s Sketches &amp; Comics</a></li>
      </ul>

      <h3>Artikel</h3>
      <ul>
        <li><a href="http://www.carlkingdom.com/10-myths-about-introverts">10 Myths About Introverts</a></li>
        <li><a href="http://www.lifehack.org/articles/communication/15-things-you-might-have-misunderstood-about-introverts.html">15 Things You Might Have Misunderstood About Introverts</a></li>
        <li><a href="http://matadornetwork.com/life/piss-introvert/">How to piss off an introvert</a></li>
      </ul>

      <h3>Bücher</h3>
      <ul>
        <li><a href="http://www.amazon.de/Still-Kraft-Introvertierten-Susan-Cain/dp/3442157641/">Still: Die Kraft der Introvertierten</a></li>
        <li><a href="http://www.amazon.de/Marti-Olsen-Laney/e/B001H6J1JW/">The Introvert Advantage: How to Thrive in an Extrovert World</a></li>
      </ul>
    </div>

  </div>
</div>
