<div class="martial-arts section">
  <div class="wrap">
    <h2>Kampfkünstler</h2>
    <div class="content">
      <p>Ich liebe die Kampfkünste, insbesondere die Japanischen. Nachdem ich sieben Jahre Shotokan-Karate betrieben hatte, wechselte ich zu <strong>Bujinkan Budo Taijutsu</strong>.</p>
      <p>Im <a href="http://de.wikipedia.org/wiki/Bujinkan">Bujinkan</a> werden <strong>neun verschiedene Schulen</strong> trainiert, sechs der <strong>Samurai</strong> und drei der <strong>Ninja</strong>, die älteste dieser Schulen ist <strong>{% since_year 618 %} Jahre</strong> alt und wurden seit Generationen vom Meister an seine Schüler weitergegeben.</p>
      <p>Diese Künste sind keine Sportarten, sondern hocheffiziente Kampfsysteme, die sich auf den Schlachtfeldern des alten Japans bewährt haben.</p>
      <p>Ich betreibe zu diesem Thema seit über {% since_year 1999 %} Jahren ein <a href="http://kogakure.de/">Kampfkunst-Magazin</a>, das Interessierten einen Einblick in die Welt der Ninja ermöglicht.</p>
    </div>

    <div class="grid-links inline-links">
      <h3>Bujinkan-Stile</h3>
      <ul>
        <li>Togakure Rhû Ninpô Taijutsu</li>
        <li>Gyokko Ryû Kosshi Jutsu</li>
        <li>Kuki Shinden Happô Bikenjutsu</li>
        <li>Koto Ryû Koppô Jutsu</li>
        <li>Shinden Fudo Ryû Dakentai Jutsu</li>
        <li>Takagi Yoshin Ryû Jûtai Jutsu</li>
        <li>Gikan Ryû Koppô Jutsu</li>
        <li>Gyokushin Ryû Ninpô</li>
        <li>Kumogakure Ryû Ninpô</li>
      </ul>
    </div>
  </div>
</div>


