<div class="martial-arts section attribution--main">
  <div class="wrap">
    <div class="grid">
      <h2>Kampfkünstler</h2>
      <p>Ich liebe die Kampfkünste, insbesondere die Japanischen. Nachdem ich sieben Jahre Shotokan-Karate betrieben hatte, wechselte ich zu <strong>Bujinkan Budo Taijutsu</strong>.</p>
      <p>Im Bujinkan werden <strong>neun verschiedene Schulen</strong> trainiert, sechs der <strong>Samurai</strong> und drei der <strong>Ninja</strong>, die ältesten dieser Schulen sind über <strong>900 Jahre</strong> alt und wurden seit Generationen vom Meister an seine Schüler weitergegeben.</p>
      <p>Diese Künste sind keine Sportarten, sondern hocheffiziente Kampfsysteme, die sich auf den Schlachtfeldern des alten Japans bewährt haben.</p>
      <p>Ich betreibe zu diesem Thema seit über 11 Jahren ein <a href="http://kogakure.de/">Kampfkunst-Magazin</a>, das Interessierten einen Einblick in die Welt der Ninja ermöglicht.</p>
    </div>
  </div>
  {% include attribution_martial_arts.html %}
</div>
