<div class="movie-lover section">
  <div class="wrap">
    <h2>Filmliebhaber</h2>
    <div class="content">
      <p>Ich liebe Filme und Serien. Da aber schon der meiste Platz für Bücher verwendet wird, besitze ich nur ein paar wenige DVDs. Dafür lasse ich mir aber regelmäßig DVDs und Blu-ray-Discs von LoveFilm schicken, habe Amazon Prime und Watchever abonniert. Ich schaue so gut wie jedes Genre, mit Ausnahme von Horror-Filmen, die nur sehr selten. Hier geht es zu meinen <a href="http://www.imdb.com/user/ur15936207/">IMDb-Profil</a> und zu meinen <a href="http://www.imdb.com/user/ur15936207/ratings">Bewertungen</a>.</p>
    </div>

    <div class="grid-links inline-links">
      <h3>Lieblingsfilme</h3>
      <ul>
        <li><a href="http://www.imdb.com/title/tt0137523/">Fight Club</a></li>
        <li><a href="http://www.imdb.com/title/tt0209144/">Memento</a></li>
        <li><a href="http://www.imdb.com/title/tt0169547/">American Beauty</a></li>
        <li><a href="http://www.imdb.com/title/tt0211915/">Die fabelhafte Welt der Amélie</a></li>
        <li><a href="http://www.imdb.com/title/tt0047478/">Shichinin no Samurai</a></li>
        <li><a href="http://www.imdb.com/title/tt0080979/">Kagemusha</a></li>
        <li><a href="http://www.imdb.com/title/tt0314331/">Tatsächlich… Liebe</a></li>
        <li><a href="http://www.imdb.com/title/tt0078788/">Apocalypse Now</a></li>
        <li><a href="http://www.imdb.com/title/tt0095327/">Die letzten Glühwürmchen</a></li>
        <li><a href="http://www.imdb.com/title/tt0133093/">Matrix</a></li>
        <li><a href="http://www.imdb.com/title/tt0120737/">Der Herr der Ringe - Die Gefährten</a></li>
        <li><a href="http://www.imdb.com/title/tt0167261/">Der Herr der Ringe - Die zwei Türme</a></li>
        <li><a href="http://www.imdb.com/title/tt0167260/">Der Herr der Ringe - Die Rückkehr des Königs</a></li>
        <li><a href="http://www.imdb.com/title/tt0299977/">Hero</a></li>
        <li><a href="http://www.imdb.com/title/tt0325710/">Last Samurai</a></li>
        <li><a href="http://www.imdb.com/title/tt0364569/">Oldboy</a></li>
        <li><a href="http://www.imdb.com/title/tt0409459/">Watchmen</a></li>
        <li><a href="http://www.imdb.com/title/tt1069238/">Departures</a></li>
        <li><a href="http://www.imdb.com/title/tt1220719/">Ip Man</a></li>
        <li><a href="http://www.imdb.com/title/tt1375666/">Inception</a></li>
        <li><a href="http://www.imdb.com/title/tt1748122/">Moonrise Kingdom</a></li>
      </ul>

      <h3>Lieblingsserien</h3>
      <ul>
        <li><a href="http://www.imdb.com/title/tt0925266/">Pushing Daisies</a></li>
        <li><a href="http://www.imdb.com/title/tt1856010/">House of Cards</a></li>
        <li><a href="http://www.imdb.com/title/tt0903747/">Breaking Bad</a></li>
        <li><a href="http://www.imdb.com/title/tt0944947/">Game of Thrones</a></li>
        <li><a href="http://www.imdb.com/title/tt1520211/">The Walking Dead</a></li>
        <li><a href="http://www.imdb.com/title/tt0773262/">Dexter</a></li>
        <li><a href="http://www.imdb.com/title/tt0904208/">Californication</a></li>
        <li><a href="http://www.imdb.com/title/tt1475582/">Sherlock</a></li>
        <li><a href="http://www.imdb.com/title/tt1439629/">Community</a></li>
        <li><a href="http://www.imdb.com/title/tt2306299/">Vikings</a></li>
        <li><a href="http://www.imdb.com/title/tt1196946/">The Mentalist</a></li>
        <li><a href="http://www.imdb.com/title/tt0285331/">24</a></li>
        <li><a href="http://www.imdb.com/title/tt0407362/">Battlestar Galactica</a></li>
        <li><a href="http://www.imdb.com/title/tt0411008/">Lost</a></li>
      </ul>

    </div>
  </div>
</div>
