<div class="movie-lover section">
  <div class="wrap">
    <div class="grid">
      <h2>Filmliebhaber</h2>
      <p>Ich liebe Bücher, und zwar die richtigen aus Papier. Ein Wohnzimmer ohne Bücherregal könnte ich mir kaum vorstellen.</p>
      <p>Vermutlich ist diese Leidenschaft erblich, denn mein Großvater hatte über 4000 Bücher in seiner Bibliothek, ich habe erst ca. 1000 Bücher bei mir stehen. Neben Klassikern lesen ich auch gerne Bücher über Philosophie, Kampfkunst, Kunst &amp; Design, Architektur, Typographie und hin und wieder auch Romane.</p>
      <p>Fachbücher lese ich aber auch digital, denn die veralten viel zu schnell und sind meist weder schön gestaltet noch gut gebunden.</p>
    </div>
  </div>
</div>
