<div class="work section">
  <div class="wrap">
    <div class="grid">
      <h2>Designer &amp; Entwickler</h2>
      <p>Ich arbeite als <strong>Frontend Engineer</strong> für <strong>XING</strong> und habe dort bereits an <strong>Jobs</strong> (Vereinfachtes Design, Überarbeitung der Suche), <strong>Mobile</strong> (<a href="https://touch.xing.com/">Touch</a> und iPad-Hybrid-App), <strong>Profil</strong> und den neuen <strong>Gruppen</strong> mitgearbeitet.</p>
      <p>Bei der Entwicklung der XING-<strong>Projekte</strong>, einer Projektbörse für Selbstständige, war ich von Anfang an in mehreren Innovationswochen aktiv dabei und habe geholfen dieses Projekt in das XING-Betalab zu bringen.</p>
      <p>Ich wurde ausgezeichnet als Gewinner der <strong>Prototyping Days 2013</strong> in der Kategorie <em>Best Smart Tools & Services</em>.</p>
    </div>
  </div>
</div>
