<!-- Google Analytics -->
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83074-6', 'stefanimhoff.de');
  ga('require', 'displayfeatures');
  ga('set', 'anonymizeIp', true);

{{ if isset .Params "error_page_404" }}
  ga('send', 'event', 'Error', '404', 'Seite: ' + document.location.pathname + document.location.search + ' Verweis: ' + decodeURIComponent(document.referrer));
{{ else if isset .Params "error_page_410" }}
  ga('send', 'event', 'Error', '410', 'Seite: ' + document.location.pathname + document.location.search + ' Verweis: ' + decodeURIComponent(document.referrer));
{{ else if isset .Params "error_page_500" }}
  ga('send', 'event', 'Error', '500', 'Seite: ' + document.location.pathname + document.location.search + ' Verweis: ' + decodeURIComponent(document.referrer));
{{ else }}
  ga('send', 'pageview');
{{ end }}
</script>

<!-- Mint -->
<script type="text/javascript">
  (function() {
    var ma = document.createElement("script");
    ma.type = "text/javascript";
    ma.src = "http://mint.stefanimhoff.de/?js";
    ma.async = true;
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(ma, s);
  })();
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//tracking.stefanimhoff.de/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//tracking.stefanimhoff.de/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
