// ============================================================================
// Placeholders
// ============================================================================

// Schriften
%base-font {
  font-family: $base-font-family;
}

%sans-font {
  font-family: $base-font-sans;
}

%mono-font {
  font-family: $base-font-mono;
}

%japanese-font {
  font-family: $base-font-japanese;
}

%icon-font {
  font-family: "iconfont";
}
// Background-Patterns
// ---------------------------------

// 204x204, 12 KB (Meta-Footer)
%pattern-classy-fabric {
  @include background-size(102px 102px);
  background-color: $footer-meta-background;
  background-image: inline-image("css/patterns/classy_fabric_@2X.png");
}

// 100x100, 1 KB (Footer)
%pattern-dark-stripes {
  @include background-size(50px 50px);
  background-color: $body-background;
  background-image: inline-image("css/patterns/dark_stripes_@2X.png");
}

// 824x824, 4 KB (Homepage: Arbeit)
%pattern-geometry {
  @include background-size(412px 412px);
  background-color: #f9f9f9;
  background-image: inline-image("css/patterns/geometry_@2X.png");
}

// 602x1242, 4 KB (Content-Hintergrund)
%pattern-light-grey {
  @include background-size(301px 621px);
  background-color: $content-background;
  background-image: inline-image("css/patterns/light_grey_@2X.png");
}

// 32x32, < 1 KB (Homepage: Kampfkunst)
%pattern-nami {
  @include background-size(16px 16px);
  background-color: #090909;
  background-image: inline-image("css/patterns/nami_@2X.png");
}

// 16x16, < 1 KB (NICHT VERWENDET)
%pattern-p5 {
  @include background-size(8px 8px);
  background-color: #F8F8F8;
  background-image: inline-image("css/patterns/p5_@2X.png");
}

// 92x46, < 1 KB (Off-Canvas-Navigation)
%pattern-pw-maze-black {
  @include background-size(46px 23px);
  background-color: $nav-background;
  background-image: inline-image("css/patterns/pw_maze_black_@2X.png");
}

// 200x200, < 1 KB (Homepage: Filmliebhaber)
%pattern-px {
  @include background-size(100px 100px);
  background-color: #313131;
  background-image: inline-image("css/patterns/px_@2X.png");
}

// 400x400, 65 KB (NICHT VERWENDET)
%pattern-skulls {
  @include background-size(400px 400px);
  background-color: #ECECD4;
  background-image: inline-image("css/patterns/skulls.png");
}

// 400x400, < 15 KB (Homepage: Bücherliebhaber)
%pattern-type {
  @include background-size(200px 200px);
  background-color: #1C1C1C;
  background-image: inline-image("css/patterns/type_@2X.png");
}


// 200x200, 2 KB (Homepage: Introvert, Empfehlungen)
%pattern-wavegrid {
  @include background-size(100px 100px);
  background-color: #EEEEEE;
  background-image: inline-image("css/patterns/wavegrid_@2X.png");
}


// Image-Replacement (Kellum Method)
// ---------------------------------
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%text-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.text-hidden {
  @extend %text-hidden;
}

// Hide text visually
// ---------------------------------
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
