// ============================================================================
// Debugging
// ============================================================================

// Debugging des Grids
// ----------------------------------------------------------------------------
.page .main, .post .main, .archive .main, .wrap {
  @include background-grid($color: blue);
  padding-left: 0;
  padding-right: 0;
}

// Vertical Alignment Grid
// ----------------------------------------------------------------------------
// html { @include debug-vertical-alignment(); }
// body { background-color: transparent !important; }
// body { background-image: none !important; }

// Modular Scale (Debug-Ausgabe in der Console)
// ----------------------------------------------------------------------------
// @include modular-scale-list();
