// ============================================================================
// Placeholders
// ============================================================================

// Schriften
%base {
  font-family: $base-font-family;
}

%sans {
  font-family: $base-font-sans;
}

%mono {
  font-family: $base-font-mono;
}

%japanese {
  font-family: $base-font-japanese;
}

%iconfont {
  font-family: "iconfont";
}

// Image-Replacement (Kellum Method)
// ---------------------------------
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
%text-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.text-hidden {
  @extend %text-hidden;
}

// Hide text visually
// ---------------------------------
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

%paper-background {
  @include background-size(301px 621px);
  background-color: $content-background;
  background-image: inline-image("css/patterns/light_grey_@2X.png");
}

%dark-paper-background {
  @include background-size(100px 100px);
  background-color: $content-background;
  background-image: inline-image("css/patterns/billie_holiday_@2X.png");
}
