// ============================================================================
// Randbemerkungen
// ============================================================================

%aside {
  @include adjust-font-size-to($font-scale-small);
  margin-top: 0.5em;
  width: column-span(2, 1, 8);

  h4 {
    @include adjust-font-size-to($font-scale-h4);
  }
}

.aside {
  @extend %aside;
  float: left;
  margin-left: -(grid-span(2, 1, 8));
}

.aside--left {
  @extend %aside;
  float: right;
  margin-right: -(grid-span(2, 1, 8));
}
