// ============================================================================
// Basis (allgemeine) Module
// ============================================================================

// Global visibility: hidden
// -------------------------
.invisible {
  visibility: hidden;
}

// Global display: none
// --------------------
.hidden {
  display: none;
}

// Image-Replacement (Kellum Method)
// ---------------------------------
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.text-hidden {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
