// ============================================================================
// Download-Sektion
// ============================================================================

.download {
  background: rgba($dark-grey, 0.1);
  padding: 15px 20px 0 20px;
  @include border-radius(3px);
  @include trailer(1);

  a {
    border: 0;
    line-height: $base-rhythm-unit * 2;
    display: inline-block;
    vertical-align: top;

    .icon-download {
      font-size: $base-rhythm-unit * 2;
      border: 0;
      color: rgba($white, 0.4);
      @include text-shadow(-1px -1px 0 rgba($black, 0.5));
      margin-right: 15px;
    }
  }

  p {
    margin: 0;
  }
}

