// ============================================================================
// Figures & Images
// ============================================================================

// Fullsize image reaching from edge to edge
// ----------------------------------------------------------------------------
.figure figure.figure-fullsize {
  @include span-columns(12);
  @include squish(0, 0);
}

// Image left aligned with caption to the right
// ----------------------------------------------------------------------------
.figure figure.figure-hangleft {
  @include span-columns(12);
  @include squish(0, 0);
  div {
    @include span-columns(10);

    img {
      float: left;
    }
  }

  figcaption {
    text-align: left;
    @include span-columns(2 omega, 12);
  }
}

// Image right aligned with caption to the left
// ----------------------------------------------------------------------------
.figure figure.figure-hangright {
  @include span-columns(12);
  @include squish(0, 0);

  div {
    @include span-columns(10 omega);
    img {
      float: right;
    }
  }

  figcaption {
    text-align: right;
    @include span-columns(2, 12);
  }
}

// Image centered with caption below
// ----------------------------------------------------------------------------
.figure figure.figure-center {
  @include span-columns(10);
  @include squish(1, 1);
}

// Figure with a border
// ----------------------------------------------------------------------------
// Border is now a default, but there might be images which need a border
// (white/bright background). These should become an additional class attribute
// for a border.
.figure figure.figure-border img {
  border: 3px solid $image-border-color;
}

// Figure with a shadow
// ----------------------------------------------------------------------------
.figure figure.figure-shadow img {
  @include box-shadow(0 1px 3px rgba($black, 0.5));
}
