// ============================================================================
// Figures & Images
// ============================================================================

// Grid overrides (to break free of main column)
%grid-12-of-8-break-out {
  width: columns(12, 8);
  margin-left: -(gutter(8) + columns(2, 8));
}

%grid-10-of-8-break-out {
  width: columns(10, 8);
  margin-left: -(gutter(8) + columns(1, 8));
}

// Layout on div and margin to the bottom
div.figure {
  @include trailer(1);
  clear: both;
  float: left;
}

// Fullsize image reaching from edge to edge
// ----------------------------------------------------------------------------
.figure--fullsize {
  @extend %grid-12-of-8-break-out;
}

// Image left aligned with caption to the right
// ----------------------------------------------------------------------------
.figure--hangleft {
  @extend %grid-12-of-8-break-out;

  img {
    @include span-columns(10);
    float: left;
  }

  figcaption {
    @include span-columns(2 omega, 12);
    text-align: left;
  }
}

// Image right aligned with caption to the left
// ----------------------------------------------------------------------------
.figure--hangright {
  @extend %grid-12-of-8-break-out;

  img {
    @include span-columns(10 omega);
    float: right;
  }

  figcaption {
    @include span-columns(2, 12);
    text-align: right;
  }
}

// Image centered with caption below
// ----------------------------------------------------------------------------
.figure--center {
  @extend %grid-10-of-8-break-out;
}

// Figure with a long caption
// ----------------------------------------------------------------------------
.figure--longcaption {
  figcaption {
    text-align: left;
  }
}

// Figure with a border
// ----------------------------------------------------------------------------
// Border is now a default, but there might be images which need a border
// (white/bright background). These should become an additional class attribute
// for a border.
.figure--border img {
  border: 3px solid $image-border-color;
}

// Figure with a shadow
// ----------------------------------------------------------------------------
.figure--shadow img {
  @include box-shadow(0 1px 3px rgba($black, 0.5));
}
