// ============================================================================
// Hinweis
// ============================================================================

.hinweis {
  @include border-radius(10px);
  @include trailer();
  background: $header-background;
  padding: 10px 15px 10px 15px;

  p {
    margin-bottom: 0;
  }

  a {
    @include link-colors($white, $dark-grey, $white, $white, $white);
    border: 0;
  }
}
