// ============================================================================
// Inline-Links
// ============================================================================

.inline-links {
  h3, ul, li {
    display: inline;
  }

  h3 {
    font-size: 1em;
    margin-right: 0.25em;
  }

  li {
    margin-right: 0.5em;
  }
}
