// ============================================================================
// Schlagworte
// ============================================================================

.tags {
  display: inline;
  margin-bottom: 0;

  li {
    display: inline-block;
  }

  .tag {
    @extend %sans;
    @include border-radius(5px);
    background: $dark-grey;
    border: 0;
    color: $white;
    font-size: $font-scale-small;
    letter-spacing: 0.1em;
    padding: 3px 5px 2px 5px;
    text-transform: uppercase;

    &:hover {
      background: $link-color;
    }
  }
}

