// ============================================================================
// Verse
// ============================================================================

.verse {
  @include grid-span(8, 1, 8);
  margin: 0;
  padding: 0;
}

.verse pre {
  font-family: inherit;
  @include grid-span(4, 3, 8);
}
