// ============================================================================
// Verse
// ============================================================================

.verse pre {
  display: table;
  margin: 0 auto;
  width: auto;
  font-family: inherit;
}
