{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title | ampersand }}</a></h1>
    {% else %}
      <h1 class="entry-title">{{ page.title | ampersand }}</h1>
    {% endif %}
    {% unless page.meta == false %}
      <p class="meta">
        {% include post/date.html %}{{ time }}
      </p>
    {% endunless %}
  </header>
{% endunless %}
{% unless index %}
  <div class="entry-content">{{ content | ampersand | abbr | nospace }}</div>
{% endunless %}
