<footer class="footer" role="contentinfo">
  <div class="wrap">
    <div class="about">
      <h3>Über mich</h3>
      <p>Stefan Imhoff: Frontend Engineer @ XING, Designer, Webentwickler und Kampfkünstler. Hamburger aus Wolfsburg. Liebt Ninja &amp; Ninjutsu, Bujinkan, Filme, Bücher, Architektur, Design, Philosophie, Japanische Tätowierungen, Japan, Gewitter &amp; Regen, Sonne, das Meer, Bambus, Kanji, Apple, Wabi Sabi und Vim.</p>
    </div>
    <div class="social-networks">
      <h3>Social Networks</h3>
      <ul>
        <li><a href="http://shinshinshingan.tumblr.com/" class="icon-tumblr"><span>Tumblr</span></a></li>
        <li><a href="https://github.com/kogakure" class="icon-github"><span>GitHub</span></a></li>
        <li><a href="https://plus.google.com/+StefanImhoff?rel=author" class="icon-google-plus"><span>Google+</span></a></li>
        <li><a href="https://www.xing.com/profiles/Stefan_Imhoff" class="icon-xing"><span>XING</span></a></li>
        <li><a href="https://www.pinterest.com/kogakure/" class="icon-pinterest"><span>Pinterest</span></a></li>
        <li><a href="https://twitter.com/kogakure" class="icon-twitter"><span>Twitter</span></a></li>
        <li><a href="https://www.facebook.com/kogakure" class="icon-facebook"><span>Facebook</span></a></li>
        <li><a href="https://www.flickr.com/photos/kogakure" class="icon-flickr"><span>Flickr</span></a></li>
        <li><a href="http://feeds2.feedburner.com/stefanimhoff" class="icon-feed"><span>Atom-Feed</span></a></li>
      </ul>
    </div>
  </div>
  <small>
    <div class="wrap">
      <ul>
        <li><a href="/impressum/">Impressum</a></li>
        <li><a href="/styleguide/">Styleguide</a></li>
        <li><a href="#top" id="top-link">Nach oben</a></li>
      </ul>
      <div class="copyright"><b>©</b> 2006-{{ site.time | date: "%Y" }}, Stefan Imhoff. Die Inhalte sind unter einer <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><i class="icon-cc"></i> CreativeCommons-Lizenz</a> veröffentlicht.</div>
    </div>
  </small>
</footer>
