<nav id="nav" role="navigation">
  <ul class="nav--main">
    <li><a href="/">Startseite</a></li>
    <li><a href="/archives/">Archives</a></li>
    <li><a href="/styleguide/">Styleguide</a></li>

    <!-- Dummy navigation -->
    <li><a href="/templates/">Templates</a></li>
    <li><a href="/mobile-apps/">Mobile Apps</a></li>
    <li class="nav-item-external"><a href="/pricing/">Pricing</a></li>
    <li><a href="/developers/">Developers</a></li>
    <li><a href="/feature-index/">Feature Index</a></li>
  </ul>

  <!-- Dummy navigation -->
  <ul class="nav">
    <li><a href="/help/">Help &amp; Support</a></li>
    <li class="nav-item-external"><a href="/answers/">Answers</a></li>
    <li><a href="/workshops/">Workshops</a></li>
  </ul>

  <!-- Dummy navigation -->
  <ul class="nav">
    <li><a href="/about/">About Squarespace</a></li>
    <li><a href="/careers/">Careers</a></li>
    <li class="nav-item-external"><a href="/blog/">Blog</a></li>
    <li><a href="/press/">Press &amp; Media</a></li>
    <li><a href="/enviroment/">Enviromental Impact</a></li>
    <li><a href="/terms/">Terms of Service</a></li>
    <li><a href="/privacy/">Privacy Policy</a></li>
    <li><a href="/contact/">Contact us</a></li>
  </ul>

  <a href="#top" class="nav-close-btn">Return to content</a>
</nav>
