<header id="top" role="banner">
  <h1>Title</h1>
  <a href="#nav" class="nav-btn">Navigation</a>
</header>
<nav id="nav" role="navigation">
  <div class="wrapper">
    <ul>
      <li><a href="#">Chapter 1</a></li>
      <li><a href="#">Chapter 2</a></li>
      <li><a href="#">Chapter 3</a></li>
      <li><a href="#">Chapter 4</a></li>
      <li><a href="#">Chapter 5</a></li>
    </ul>
    <a href="#top" class="close-btn">Return to content</a>
  </div>
</nav>


<!-- <nav id="nav" role="navigation"> -->
<!--   <ul> -->
<!--     <li> -->
<!--       <a href="#">Link 1</a> -->
<!--       <a href="#">Link 2</a> -->
<!--       <a href="#">Link 3</a> -->
<!--     </li> -->
<!--   </ul> -->
<!-- </nav> -->
