<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.9.1.min.js"><\/script>')</script>
{% if is_preview == 'true' %}
  <script src="{{ root_url }}/javascripts/fastclick.js"></script>
  <script src="{{ root_url }}/javascripts/ios-rotate-scaling-fix.js"></script>
  <script src="{{ root_url }}/javascripts/libs/plugins/jquery-widont.js"></script>
  <script src="{{ root_url }}/javascripts/libs/plugins/jquery.fitvids.js"></script>
  <script src="{{ root_url }}/javascripts/script.js"></script>
{% else %}
  {% javascript application %}
{% endif %}
