// Extends
// -------

%base {
  font-family: $base-font-family;
}

%sans {
  font-family: $base-font-sans;
}

%mono {
  font-family: $base-font-mono;
}

%japanese {
  font-family: $base-font-japanese;
}

