// ============================================================================
// Base
// ============================================================================

body {
  @extend %base-font;
  @extend %pattern-dark-stripes;
  @include font-smoothing(subpixel-antialiased);
  @include hyphens(auto);
  color: $dark-grey;
  font-style: normal;
  font-weight: $normal;
}

:lang(ja) {
  @extend %japanese-font;
}

// Meldung für alte Browser
// ----------------------------------------------------------------------------

.chromeframe {
  color: $white;
  padding: 5px;
  text-align: center;
}

.section {
  @include trailer();
}

// Klasse, um Umbrechen zu verhindern
// ----------------------------------------------------------------------------

.nobr {
  white-space: nowrap;
}

// Links
// ----------------------------------------------------------------------------
a {
  // normal, hover, active, visited, focus
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  text-decoration: none;
  border-bottom: 1px solid $link-border-color;
  @include transition($animation-link-hover);

  &:hover, &:active, &:focus {
    border-color: $link-hover-border-color;
  }
}

// Headlines
// ----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  @extend %sans-font;
  @include enable-ligatures;
  @include hyphens(manual);
  clear: both;
}

h1 {
  @include adjust-font-size-to($font-scale-h1);
  @include trailer(1, $font-scale-h1, margin);
}

h2 {
  @include adjust-font-size-to($font-scale-h2);
  @include trailer(0.5, $font-scale-h2, margin);
}

h3, h4, h5, h6 {
  @include adjust-font-size-to($font-scale-h4);
  @include trailer(0.3, $font-scale-h3, margin);
}

// Paragraphs
// ----------------------------------------------------------------------------
p {
  @include trailer(1);
}

.article-body > p:first-child {
  @include adjust-font-size-to($font-scale-intro);
  @include trailer(1, $font-scale-h3, margin);
}

// Horizontale Trenner
// ----------------------------------------------------------------------------
hr {
  height: 0;
  border: 0;
  margin: 0 $base-rhythm-unit;
  color: rgba($light-grey, 0.9);
  @include trailer(2, $base-font-size, margin);
  @include trailing-border(3px);
}

// Emphasis
// ----------------------------------------------------------------------------
em {
  font-style: italic;
}

strong {
  font-weight: $bold;
}

// Strikethrough
// ----------------------------------------------------------------------------
s {
  text-decoration: line-through;
}

// Definition
// ----------------------------------------------------------------------------
dfn {
  border-bottom: 1px dotted $definition-color;
  cursor: help;
}

// Abbrevations
// ----------------------------------------------------------------------------
abbr, acronym {
  font-variant: small-caps;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  cursor: help;
}

abbr[title], acronym[title] {
  border-bottom-width: 0;
}

abbr.no-caps {
  font-variant: normal;
  text-transform: none;
}

// Pre
// ----------------------------------------------------------------------------
code {
  @extend %mono-font;
  @include adjust-font-size-to($font-scale-small);
  @include border-radius(3px);
  background: $white;
  padding: 0.2em 0.4em;
  border: 1px solid $light-grey;
}

pre {
  @include trailer(1);

  code {
    display: block;
    line-height: 1.2;
    overflow-x: auto;
  }
}

.highlight {
  @include box-shadow(rgba(0,0,0,0.06) 0 0 10px);
  clear: both;
  position: relative;

  pre {
    background: $white;
    padding: $base-rhythm-unit;
  }

  code {
    border: 0;
    padding: 0 0 6px 0;

    &:after {
      @include background-image(linear-gradient(to right, rgba($white, 0) 20%, rgba($white, 1) 50%, rgba($white, 1)));
      content: " ";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: $base-rhythm-unit * 3;
    }
  }

  .lineno {
    color: rgba($dark-grey, 0.15);
  }
}

// Variable
// ----------------------------------------------------------------------------
var {
  font-style: italic;
}

// Sample output
// ----------------------------------------------------------------------------
samp {
  @extend %mono-font;
  color: $sample-color;
  background: $sample-background;
  border: 1px solid #ddd;
  display: inline-block;
  font-size: 0.8em;
  line-height: 1.5em;
  margin: -1px 0;
  padding: 0 .3em;
  white-space: no-wrap;
  @include border-radius(.4em);
}

// Keyboard entry
// ----------------------------------------------------------------------------
kbd {
  @extend %sans-font;
  display: inline-block;
  border: 1px solid $keyboard-border;
  margin: 0 0.1em;
  padding: 0.3em 0.6em 0.1em;
  color: $dark-grey;
  background-color: $keyboard-background;
  font-weight: $bold;
  line-height: 1.4 !important;
  text-shadow: 0 1px 0 $white;
  white-space: nowrap;
  @include adjust-font-size-to($font-scale-kbd);
  @include border-radius(3px);
  @include box-shadow(0 1px 0 rgba($black, 0.2), 0 0 0 2px $white inset);
}

// Superscript/Subscript
// ----------------------------------------------------------------------------
sup, sub {
  position: relative;
  vertical-align: 0;

  a {
    border: 0;
  }
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.8ex;
}

// Italic/Fett
// ----------------------------------------------------------------------------
i {
  font-style: italic;
}

b {
  font-weight: $bold;
}

// Markiert
// ----------------------------------------------------------------------------
mark {
  position: relative;
  background-color: transparent;
  background-image: inline-image("css/mark-center.png");
  color: rgba($black, 0.75);
  @include background-size(25px 21px);
  &:before, &:after {
    position: absolute;
    display: block;
    height: 21px;
    width: 5px;
    background-repeat: no-repeat;
    content: '';
    @include background-size(5px 21px);
  }

  &:before {
    left: -5px;
    top: 0;
    background-image: inline-image("css/mark-left.png");
  }

  &:after {
    bottom: 0;
    right: -5px;
    background-image: inline-image("css/mark-right.png");
  }
}

// Bearbeitungen
// ----------------------------------------------------------------------------
ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

// Listen
// ----------------------------------------------------------------------------
ol {
  @include trailer(1);
  list-style: decimal;

  .article-body & {
    margin-left: $base-rhythm-unit;
  }

  @include breakpoint($content-medium) {
    margin-left: 0;
  }
}

ol ol {
  list-style: lower-latin;
  margin: 0 $base-rhythm-unit;
}

ul {
  @include trailer(1);
  list-style: disc;

  .article-body & {
    margin-left: $base-rhythm-unit;
  }

  @include breakpoint($content-medium) {
    margin-left: 0;
  }
}

ul ul {
  list-style: circle;
  margin: 0 $base-rhythm-unit;
}

dl {
  @include trailer(1);
}

dt {
  font-weight: $bold;
}

dt + dd {
  @include trailer(1);
}

dd {
  margin-left: 0;
}

// Zitate
// ----------------------------------------------------------------------------
blockquote {
  margin-left: $base-rhythm-unit;
  margin-right: $base-rhythm-unit;
  font-style: italic;
  @include leader();
  @include trailer();
}

cite {
  font-style: italic;
}

blockquote cite:before {
  padding-left: 0.3em;
  padding-right: 0.3em;
  content: '–';
}

// Inline quotes
q {
  font-style: italic;
}

// @include q-quotes(de, '„' '“' '‚' '‘'); // Alternative, deutsche Schreibweise
@include q-quotes(de, '»' '«' '›' '‹');
@include q-quotes(en, '“' '”' '‘' '’');
@include q-quotes(fr, '« ' ' »' '“' '”');
@include q-quotes(ja, '「' '」' '『' '』');

q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

// Bilder
// ----------------------------------------------------------------------------
img, a img {
  border: $image-border-size solid $image-border-color;
  max-width: 100%;
  height: auto !important;
  vertical-align: bottom;
  width: auto\9; /* ie8 */
}

// Abbildungen
// ----------------------------------------------------------------------------

figcaption {
  @include adjust-font-size-to($font-scale-small);
  text-align: center;
}

// Video
// -----------------------------------------------------------------------------
video {
  display: block;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  @include trailer(1);
}

// Tabellen
// ----------------------------------------------------------------------------
caption, th, td {
  font-weight: $normal;
  text-align: left;
  vertical-align: middle;
}
