// ============================================================================
// Icon-Font (iconfont)
// ============================================================================
//
// Diese Datei wird automatisch kompiliert, daher keine Änderungen
// direkt darin machen, sondern diese im Ordner für Templates unter
// `vectors/templates/template.css` ändern.

// Variables für die Nutzung in content
// ------------------------------------

$icon-arrow-left: "\f101";
$icon-arrow-right: "\f102";
$icon-calendar: "\f103";
$icon-cc: "\f104";
$icon-close: "\f105";
$icon-download: "\f106";
$icon-external: "\f107";
$icon-facebook: "\f108";
$icon-feed: "\f109";
$icon-flickr: "\f10a";
$icon-folder: "\f10b";
$icon-github: "\f10c";
$icon-google-plus: "\f10d";
$icon-linkedin: "\f10e";
$icon-logo: "\f10f";
$icon-menu: "\f110";
$icon-pinterest: "\f111";
$icon-question: "\f112";
$icon-quill: "\f113";
$icon-tag: "\f114";
$icon-tumblr: "\f115";
$icon-twitter: "\f116";
$icon-xing: "\f117";

// Font-Face
// ---------

@font-face {
  font-family: "iconfont";
  src: url("/assets/iconfont-36af5ef66bc564b29000a658522deb26.eot");
  src: url("/assets/iconfont-36af5ef66bc564b29000a658522deb26.eot?#iefix") format("embedded-opentype"),
		url("/assets/iconfont-36af5ef66bc564b29000a658522deb26.woff") format("woff"),
		url("/assets/iconfont-36af5ef66bc564b29000a658522deb26.ttf") format("truetype"),
		url("/assets/iconfont-36af5ef66bc564b29000a658522deb26.svg?#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  }


// Styling für Icon-Fonts
// ----------------------

[data-icon]:before { content: attr(data-icon); }

.icon,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-calendar:before,
.icon-cc:before,
.icon-close:before,
.icon-download:before,
.icon-external:before,
.icon-facebook:before,
.icon-feed:before,
.icon-flickr:before,
.icon-folder:before,
.icon-github:before,
.icon-google-plus:before,
.icon-linkedin:before,
.icon-logo:before,
.icon-menu:before,
.icon-pinterest:before,
.icon-question:before,
.icon-quill:before,
.icon-tag:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-xing:before,
[data-icon]:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


// Einzelne Klassen-Attribute
// --------------------------

.icon-arrow-left:before { content:"\f101"; }
.icon-arrow-right:before { content:"\f102"; }
.icon-calendar:before { content:"\f103"; }
.icon-cc:before { content:"\f104"; }
.icon-close:before { content:"\f105"; }
.icon-download:before { content:"\f106"; }
.icon-external:before { content:"\f107"; }
.icon-facebook:before { content:"\f108"; }
.icon-feed:before { content:"\f109"; }
.icon-flickr:before { content:"\f10a"; }
.icon-folder:before { content:"\f10b"; }
.icon-github:before { content:"\f10c"; }
.icon-google-plus:before { content:"\f10d"; }
.icon-linkedin:before { content:"\f10e"; }
.icon-logo:before { content:"\f10f"; }
.icon-menu:before { content:"\f110"; }
.icon-pinterest:before { content:"\f111"; }
.icon-question:before { content:"\f112"; }
.icon-quill:before { content:"\f113"; }
.icon-tag:before { content:"\f114"; }
.icon-tumblr:before { content:"\f115"; }
.icon-twitter:before { content:"\f116"; }
.icon-xing:before { content:"\f117"; }
