// ============================================================================
// Icon-Font (iconfont)
// ============================================================================
//
// Diese Datei wird automatisch kompiliert, daher keine Änderungen
// direkt darin machen, sondern diese im Ordner für Templates unter
// `vectors/templates/_iconfont.scss` ändern.

// Variables für die Nutzung in content
// ------------------------------------

$icon-arrow-left: "\f100";
$icon-arrow-right: "\f101";
$icon-calendar: "\f102";
$icon-cc: "\f103";
$icon-close: "\f104";
$icon-download: "\f105";
$icon-external: "\f106";
$icon-facebook: "\f107";
$icon-feed: "\f108";
$icon-flickr: "\f109";
$icon-folder: "\f10a";
$icon-github: "\f10b";
$icon-google-plus: "\f10c";
$icon-linkedin: "\f10d";
$icon-logo: "\f10e";
$icon-menu: "\f10f";
$icon-pinterest: "\f110";
$icon-question: "\f111";
$icon-quill: "\f112";
$icon-tag: "\f113";
$icon-tumblr: "\f114";
$icon-twitter: "\f115";
$icon-xing: "\f116";

// Font-Face
// ---------

@font-face {
  font-family: "iconfont";
  src: url("/assets/iconfont_36af5ef66bc564b29000a658522deb26.eot");
  src: url("/assets/iconfont_36af5ef66bc564b29000a658522deb26.eot?#iefix") format("embedded-opentype"),
       url("/assets/iconfont_36af5ef66bc564b29000a658522deb26.woff") format("woff"),
       url("/assets/iconfont_36af5ef66bc564b29000a658522deb26.ttf") format("truetype"),
       url("/assets/iconfont_36af5ef66bc564b29000a658522deb26.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Styling für Icon-Fonts
// ----------------------

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-calendar:before,
.icon-cc:before,
.icon-close:before,
.icon-download:before,
.icon-external:before,
.icon-facebook:before,
.icon-feed:before,
.icon-flickr:before,
.icon-folder:before,
.icon-github:before,
.icon-google-plus:before,
.icon-linkedin:before,
.icon-logo:before,
.icon-menu:before,
.icon-pinterest:before,
.icon-question:before,
.icon-quill:before,
.icon-tag:before,
.icon-tumblr:before,
.icon-twitter:before,
.icon-xing:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

// Einzelne Klassen-Attribute
// --------------------------

.icon-arrow-left:before { content: "\f100"; }
.icon-arrow-right:before { content: "\f101"; }
.icon-calendar:before { content: "\f102"; }
.icon-cc:before { content: "\f103"; }
.icon-close:before { content: "\f104"; }
.icon-download:before { content: "\f105"; }
.icon-external:before { content: "\f106"; }
.icon-facebook:before { content: "\f107"; }
.icon-feed:before { content: "\f108"; }
.icon-flickr:before { content: "\f109"; }
.icon-folder:before { content: "\f10a"; }
.icon-github:before { content: "\f10b"; }
.icon-google-plus:before { content: "\f10c"; }
.icon-linkedin:before { content: "\f10d"; }
.icon-logo:before { content: "\f10e"; }
.icon-menu:before { content: "\f10f"; }
.icon-pinterest:before { content: "\f110"; }
.icon-question:before { content: "\f111"; }
.icon-quill:before { content: "\f112"; }
.icon-tag:before { content: "\f113"; }
.icon-tumblr:before { content: "\f114"; }
.icon-twitter:before { content: "\f115"; }
.icon-xing:before { content: "\f116"; }
