<section class="stripe stripe-books">
  <div class="wrap">
    <h2 class="stripe-books-headline">Bookworm</h2>
    <div class="stripe-content">
      <p>I love <a href="https://www.goodreads.com/review/list/28460819-stefan">books</a>, to be precise I love <em>paper</em> books. I can not imagine a living room without shelves of books.</p>
      <p>Most likly I inherited this passion from my grandfather, who owned over <strong>4000</strong> books. My books count roughly a  <strong>1000</strong>. I buy books ahead and my desks are always stuffed with unread books. I like classics, books about philosophy, martial arts, art &amp; desgin, architecture, typography and novels.</p>
      <p>Work-related books I read mostly digital, because they get old too fast and don’t look nice in most cases.</p>
    </div>

    <div class="inline-container">
      {{ range .Site.Data.books.book }}
        <h3 class="inline-container-headline">{{ .name }}</h3>
        <ul class="inline-container-list">
          {{ range .items }}
          <li class="inline-container-item">
            <a class="inline-container-link" href="http://www.amazon.de/gp/product/{{ .asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ .asin }}">
              {{ .text | markdownify }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>

  </div>
</section>
