<section class="stripe stripe-work">
  <div class="wrap">
    <h2>Front-End Web Developer &amp; Designer</h2>
    <div class="stripe-content">
      <p>I work as <strong>Senior Software Engineer</strong> on the Design System of <strong>XING</strong>. Previously I contributed to a variety of
        products like <strong>Jobs</strong>, <strong>Mobile</strong>, <strong>Groups</strong>, <strong>Profile</strong>,
        <strong>SEO</strong> and <strong>Onboarding</strong>.</p>
      <p>I love new ideas and innovating. I took part in over 30 Hack Weeks and won the <strong>Innovation Award</strong> during the yearly <strong>Prototyping Days</strong> at XING three times. One of my HackWeek projects became a product on the XING platform.</p>
    </div>
    <div class="inline-container">
      {{ range .Site.Data.work.item }}
      <h3 class="inline-container-headline">{{ .name }}</h3>
      <ul class="inline-container-list">
        {{ range .skills }}
        <li class="inline-container-item">{{ . }}</li>
        {{ end }}
      </ul>
      {{ end}}
    </div>
  </div>
</section>
