---
layout: base
body_class: home
description: "Frontend Engineer @ XING, Designer, Martial Artist and hobby philosopher."
homepage: true
---

{% include home/blog.html %}
{% include home/work.html %}
{% include home/martial_arts.html %}
{% include home/introvert.html %}
{% include home/books.html %}

<div class="recommendations section inline-links">
  <div class="wrap">
    <h2>Link-Empfehlungen</h2>
    <p>[Ein paar Sätze]</p>

    <h3>Inspiration</h3>
    <ul>
      <li><a href="http://www.ted.com/">TED</a></li>
      <li><a href="http://www.brainpickings.org/">Brainpickings</a></li>
      <li><a href="http://explore.noodle.org/">Explore</a></li>
      <li><a href="http://99u.com/">99U</a></li>
      <li><a href="http://bigthink.com/">Big Think</a></li>
      <li><a href="http://changethis.com/">ChangeThis</a></li>
      <li><a href="http://signalvnoise.com/">Signal vs. Noise</a></li>
      <li><a href="http://ia.net/blog">Information Architects</a></li>
    </ul>

    <h3>Microcredits</h3>
    <ul>
      <li><a href="http://kiva.org/invitedby/kogakure">Kiva</a></li>
    </ul>

    <h3>Hosting</h3>
    <ul>
      <li><a href="http://www.webfaction.com/?affiliate=kogakure">Webfaction</a></li>
    </ul>
  </div>
</div>
